theme-orange {
    color: #D9C3A9;
}

$primary-color: #4F5955;
$section-subtext: #D9C3A9;
$sub-color: #D9C3A9;
$third-color: #F2EDDC;

h1, h2, h3, h4 {
    color: $primary-color;
}


p {
    font-family: 'Poppins';
}

.sectionSubText {
    color: $section-subtext;
    font-size: 14px;
    font-weight: bold;
}

header {
    display: flex;
    align-items: center;
    background-color: $primary-color;
    width: 100%;
    height: 49px;
    color: white;


    .container {
        display: flex;
        justify-content: space-between;

        p {
            font-size: 13px;
            padding: 0;
            margin: 0;
        }
    }

    .socials {
        display: flex;
        padding-right: 3rem;
        height: 100%;
        box-sizing: border-box;

        .socialItem {
            display: flex;
            text-align: center;
            padding: 0.2rem;
            border-left: 1px solid #9c9ea631;
            border-right: 1px solid #9c9ea631;
            box-sizing: border-box;
            padding: 10px;

            img {
                align-self: center;
                height: 13px;
            }

            &:hover {
                background-color: $section-subtext;
                box-sizing: border-box;
                border: 1px solid $sub-color;
                transition: 0.2s;


                img {
                }
            }
        }
    }
}



nav {
    display: flex;
    background-color: white;
    color: $primary-color;
    text-decoration: none;
    font-family: "Poppins";


    @media (min-width: 1400px) {
        height: 82px;
    }

    .container {
        display: flex;
        flex-direction: row;
        height: 100%;

        a {
            display: flex;
            align-self: center;
        }

        ul {
            display: flex;
            width: 80%;
            height: 100%;
            list-style-type: none;
            justify-content: space-evenly;

            li {
                display: flex;

                a {
                    display: flex;
                    align-self: center;
                    color: $primary-color;
                    font-size: 16px;
                    font-weight: bold;
                    text-decoration: none;

                    &:hover {
                        color: $sub-color;
                    }
                }

                &.current {
                    a {
                        color: $sub-color;
                    }
                }
            }
        }

        .searchfield {
            display: flex;
            border: none;
            position: relative;

            input {
                display: flex;
                height: fit-content;
                align-self: center;
                opacity: 0%;
            }

            img {
                right: -1rem;
                top: 2rem;
                position: absolute;
            }
        }
    }
}

.breadcrumbSection {
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    padding: 122px 0px 122px 0px;
    background-color: #F7F7F7;
    font-family: "Poppins";

    h3 {
        font-weight: bold;
        font-size: 40px;
        color: $primary-color;
    }

    ul {
        li {
            span {
                margin-left: 1rem;
                margin-right: 1rem;
            }

            a {
                color: $primary-color;
                text-decoration: none;
                align-self: center;
            }
        }
    }
}

body {
    margin: 0;
}

footer {
    width: 100%;
    background-color: #0E0E0E;
    display: flex;
    padding: 1rem 0rem 1rem 7rem;
    font-size: 14px;
    font-family: "Poppins";
    z-index: 8;
    position: relative;

    p {
        color: $primary-color;
        display: inline;
        margin-bottom: 0;
    }

    a {
        display: inline;
        font-size: 14px;
        color: $sub-color;
        text-decoration: none;
    }
}



.hero {
    width: 100%;
    padding-bottom: 100px;

    .heroContainer {
        position: relative;

        .heroText {
            display: flex;
            flex-direction: column;
            position: absolute;
            justify-content: space-evenly;
            height: 80%;
            margin: 3rem 64px 0px 64px;



            .heroH1 {

                h1 {
                    font-size: 70px;
                    font-weight: bold;
                    text-shadow: 0px 3px 2px;
                    color: $primary-color;
                }

                span {
                    width: 50%;
                    color: #535656;
                    font-size: 70px;
                    font-weight: bold;
                    text-shadow: 0px 3px 2px;
                }
            }

            p {
                width: 50%;
                color: #4F5955;
                font-size: 16px;
            }

            .contactButton {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $primary-color;
                color: white;
                text-decoration: none;
                width: 15%;
                height: 10%;
                border-radius: 5px;
                color: $third-color;
                font-weight: bold;
                margin-bottom: 2rem;
                flex-shrink: 0;

                a {

                    span {
                    }
                }

                &:hover {
                    color: $sub-color;
                }
            }
        }

        img {
            z-index: 0;
            width: 100%;
            height: 85%;
            object-fit: cover;
        }
    }
}


.about {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 10rem;

    .ceoDiv {
        font-family: 'Poppins';




        h6 {
        }

        h2 {
            font-weight: bold;
            font-size: 40px;
        }

        h5 {
            font-size: 20px;
            font-weight: 300;
            font-style: italic;
        }

        p {
            font-size: 14px;
        }

        img {
        }

        p {
        }
    }

    .callbackForm {
        position: relative;

        .formBox {
            box-shadow: 0px 7px 7px 4px #b7b8bc37;
            position: absolute;
            background-color: white;
            border: 1px solid #e7e5e5;
            width: 80%;
            top: -13rem;


            .topBox {
                background-color: $primary-color;
                display: flex;
                z-index: 5;
                display: block;
                height: 50%;
                flex-shrink: 0;
                width: 100%;
                align-content: center;


                h3 {
                    display: flex;
                    padding: 3rem 0 3rem 2rem;
                    color: $third-color;
                    font-weight: bold;
                    font-size: 30px;
                }
            }

            editform {
                display: flex;
                flex-direction: column;
                padding: 2rem;
                justify-content: space-between;

                p {
                    font-size: 13px;
                    color: #535656;
                }

                input {
                    margin-top: 1rem;
                    padding: 1rem;
                    border: 1px solid #e7e5e5;
                    align-content: center;
                    width: 100%;
                    gap: 1rem;
                }

                .submitButton {
                    color: $primary-color;
                    background-color: $third-color;
                    font-weight: bold;
                }
            }
        }
    }
}


.aboutPage {
    font-family: 'Poppins';


    h2 {
    }

    .ceoSection {
        display: flex;

        .ceo {
            padding-top: 6rem;
            padding-right: 3rem;

            p {
                font-size: 14px;
                padding-top: 1rem;
                color: $primary-color;
            }
        }

        .ceoText {
            padding-top: 6rem;

            .aboutCeoText {

                h2 {
                    font-style: italic;
                    font-size: 20px;
                }
            }
        }
    }

    .reviews {
        display: grid;
        background-color: #F7F7F7;
        grid-template-columns: 40% 60%;


        .reviewsText {
            padding-top: 3rem;
            padding-left: 6rem;
            padding-bottom: 1rem;

            h3 {
                font-weight: bold;
                color: $primary-color;
                font-size: 40px;
            }
        }

        img {
        }

        .reviewsImage {
            margin-left: 2rem;


            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .expertsSection {
        padding-bottom: 4rem;
        text-align: center;
        padding-top: 4rem;

        h1 {
            padding-bottom: 4rem;
            font-weight: bold;
        }

        .experts {

            ul {
                display: flex;
                flex-wrap: wrap;
                gap: 1rem;
                list-style: none;

                li {
                    display: flex;
                    flex-direction: column;
                    flex: 1 0 30%; /* Each item takes up approximately 30% of the width */

                    box-sizing: border-box;
                    border: 1px solid #e7e5e5;

                    span {
                        font-weight: bold;
                        font-size: 22px;
                        color: $primary-color;
                    }

                    p {
                        color: #9C9EA6;
                        font-size: 13px;
                    }
                }

                .lower {
                    flex-grow: 1; /* This allows the item to grow to fill available space */
                    flex-shrink: 0; /* This prevents the item from shrinking */
                    flex-basis: 20%; /* This sets the initial size of the item to 20% of the container's */

                    margin-top: 20px;

                    span {
                        font-weight: bold;
                        font-size: 22px;
                        color: $primary-color;
                    }

                    p {
                        color: #9C9EA6;
                        font-size: 13px;
                    }

                    img {
                        height: 300px;
                        width: auto;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}

.ourServices {
    padding: 3rem 0 3rem 0;

    h1 {
        text-align: center;
        font-weight: bold;
        font-size: 40px;
        padding-bottom: 1rem;
    }

    h6 {
        text-align: center;
    }

    background-color: #F7F7F7;
}

.servicesOverview {
    display: grid;


    h2 {
        display: flex;
        padding: 1rem 0 1rem 1rem;
        align-self: start;
    }

    p {
        display: flex;
        padding: 1rem 0 1rem 1rem;
        align-self: start;
    }

    a {
        text-decoration: none;
        color: black;

        &:hover {
            text-decoration: underline;
            transition: 0.1s;
            color: $primary-color;
        }
    }

    ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 3rem;

        li {
            list-style-type: none;
            background-color: white;

            h2 {
                text-align: center;
            }

            p {
                text-decoration: none;
                padding-left: 1rem;
            }
        }
    }
}

.servicesOverview2 {
    display: grid;


    h1 {
        text-align: center;
        font-weight: bold;
        padding: 2rem;
    }

    a {
        text-decoration: none;
        color: black;

        &:hover {
            text-decoration: underline;
            transition: 0.1s;
            color: $primary-color;
        }
    }

    ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 3rem;

        li {
            list-style-type: none;
            border: 1px solid #e7e5e5;
            background-color: white;

            h2 {
                text-align: start;
                margin-left: 2rem;
                padding: 1rem;
                font-weight: bold;
            }

            p {
                text-decoration: none;
                padding-left: 1rem;
                color: #535656;
                padding: 1rem;
            }
        }
    }
}

.detailedServicePage {
    display: grid;
    grid-template-columns: 20% 80%;
    padding-top: 4rem;
    padding-bottom: 4rem;

    aside {
        padding-right: 2rem;

        .canHelpEmailBox {
        }

        .aboutUsBox {
            display: flex;
            position: relative;
            flex-direction: column;
            justify-content: center;
            margin-top: 4rem;
            border-radius: 5px;
            margin-bottom: 50px;
            padding-bottom: 3rem;
            width: 100%;
            height: 214px;
            font-family: 'Poppins';

            h2 {
                justify-self: start;
                font-size: 22px;
            }

            p {
                padding-top: 1rem;
                font-size: 14px;
            }

            img {
                width: 100%;
            }
        }
    }

    .detail {
        font-family: 'Poppins';
        padding-left: 2rem;
        padding-bottom: 2rem;
        border-left: 1px solid #e7e5e5;
        padding-bottom: 4rem;

        h1, h2, h3, h4, h4 {
            font-weight: bold;
        }

        #detailMainImage {
            padding-bottom: 1rem;
            display: block;
            width: 100%;
            height: auto;
        }

        #detailedSecondImage {
            padding-bottom: 1rem;
            display: block;
            width: 100%;
            height: auto;
        }
    }
}

.projectsPage {
    display: grid;
    grid-template-columns: 80% 20%;
    padding-top: 4rem;

    aside {
        border-left: 1px solid #e7e5e5;
        padding-left: 1rem;

        .tags {
            display: flex;
            flex-direction: column;
            flex-flow: wrap;

            h1 {
                display: block;
                width: 100%;
            }

            a {
                font-family: 'Poppins';
                font-size: 13px;
                color: $primary-color;
                font-weight: 400;
                width: fit-content;
                height: 60px;
                padding: 0.5rem 1rem 0.5rem 1rem;
                margin: 0.2rem;
                text-align: center;
                align-items: center;
                align-self: center;
                align-content: center;
                border: 2px solid #e7e5e5;
                border-radius: 30px;



                &:hover {
                    text-decoration: underline;
                    background-color: #F7F7F7;
                }
            }
        }
    }
}

.projectsOverview {
    padding-left: 0;
    padding-right: 3rem;

    ul {
        display: flex;
        flex-direction: column;
        padding: 0;

        li {
            display: flex;
            list-style: none;
            flex-direction: row;
            padding: 1rem 0 1rem 0;
            border-bottom: 1px solid #e7e5e5;


            .project-text {
                padding: 1rem;

                a {
                    text-decoration: none;
                    color: #535656;
                    font-weight: bold;
                    font-size: 14px;
                }

                h2 {

                    a {
                        font-size: 22px;
                        text-decoration: none;
                        color: $primary-color;
                    }
                }
            }
        }
    }
}

.detailedUl {

    li::marker {
        color: #5D8C87;
    }
}

.detailedUlServices {

    li::marker {
        color: $sub-color;
    }
}



.projectDetails {
    margin-right: 4rem;
    color: #535656;
    font-size: 14px;

    span {
        color: #9C9EA6;
        display: block;
        padding-bottom: 2rem;
    }

    h2 {
        font-family: 'Poppins';
        font-size: 18px;
        font-weight: bold;
    }

    .firstPartImage {
        display: block;
        width: 100%;
        height: auto;
    }


    .detailed {
        .firstPart {
        }

        .secondPart {
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: 2rem 0 2rem 0;
            gap: 1rem;


            .secondImageDiv {

                img {
                    width: 100%;
                    object-fit: cover;
                }
            }

            .secondText {
            }
        }

        .thirdPart {

            .thirdImageDiv {
                img {
                    width: 100%,
                }
            }

            .text {
            }
        }

        .fourthPart {
            padding: 2rem 0 2rem 0;
        }
    }
}

.detailed-tags {
    p {
    }
}

.pagination {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
    box-sizing: border-box;
    font-weight: bold;


    a {
        padding: 0.5rem 1rem 0.5rem 1rem;
        color: #4B5264;
        box-sizing: border-box;
        border: 1px solid transparent;

        &:hover {
            transition: 0.5s;
            border: 1px solid #9C9EA6;
            border-radius: 50%;
            opacity: 50%;
        }
    }

    .prev {
        opacity: 50%;
    }

    .one {
        border: 1px solid #9C9EA6;
        border-radius: 100%;
        opacity: 50%;
    }

    .two {
    }



    .Next {
    }
}

.success {


    .container {
        position: relative;
        margin-top: 8rem;

        .trusted {
            display: flex;
            gap: 1rem;
            justify-content: center;
            justify-items: center;
            flex-direction: column;
            z-index: 3;

            h2 {
                text-align: center;
                font-size: 40px;
                font-weight: bold;
                z-index: 3;
            }

            h5 {
                text-align: center;
                font-size: 40px;
                z-index: 3;
            }


            p {
                z-index: 3;
            }

            a {
                z-index: 3;
                align-self: center;
                width: 13%;
                background-color: $primary-color;
                color: $third-color;
                padding: 0.8rem;
                margin-bottom: 3rem;
                font-weight: bold;

                &:hover {
                    transition: 0.5s;
                    background-color: transparent;
                    color: $primary-color;
                    border: 1px solid black;
                }

                .btn {
                }
            }
        }

        #successBg {
            position: absolute;
            width: 70%;
            padding-top: 14rem;
            align-self: center;
            display: flex;
            z-index: -1;
        }

        .colored-svg {
            filter: invert(10%) sepia(0%) saturate(100%);
        }
    }

    .successImages {

        #successImage {
        }

        img {
        }
    }

    .subSection {
        background-color: $primary-color;
        position: relative;
        display: flex;
        flex-direction: column;
        padding-bottom: 25rem;

        #successBg2 {
            padding-top: 5rem;
            padding-left: 5rem;
            position: absolute;
            z-index: 0;
            width: 90%;
        }

        h6 {
            text-align: center;
            padding-top: 4rem;
        }

        h2 {
            color: white;
            font-size: 40px;
            font-weight: bold;
            text-align: center;
        }

        .storyBoxes {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            padding: 0 10rem 0 10rem;
            gap: 5rem;
            z-index: 3;


            .storyBox {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: fit-content;
                color: white;
                font-weight: bold;
                font-size: 18px;

                span {
                    font-size: 100px;
                    font-weight: bold;
                    color: $sub-color;
                }
            }
        }

        .successImages2 {
            display: flex;
            justify-content: center;
            z-index: 3;

            #successImage2 {
            }

            img {
            }
        }
    }


    .successImages2 {
        justify-content: center;
        z-index: 3;
        position: relative;
        top: -16rem;
        display: flex;

        #successImage2 {
        }

        img {
        }
    }
}

.projects {
    margin-top: -5rem;
    padding-bottom: 3rem;

    span {
        padding-left: 4rem;
    }

    h1 {
        padding-left: 4rem;
        padding-bottom: 3rem;
    }
}

.recentProjects {


    ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 0;
        width: 100%;

        @media(min-width:1400px) {
            height: 480px;
        }


        li {
            list-style: none;
            display: flex;
            flex-direction: column;
            position: relative;

            p {
                display: none;
            }

            h2 {
                display: none;
            }

            img {
                height: 100%;
                width: 100%;

                @media(min-width:1400px) {
                    object-fit: cover;
                }
            }

            a {
                position: absolute;
                bottom: 0;
                width: 100%;
                background-color: #4F5955;
                opacity: 80%;
                padding: 2rem;
                color: white;
                text-decoration: none;
                font-weight: bold;

                &:hover {
                    color: $sub-color;
                    opacity: 100%;
                    padding: 4rem;
                    transition: 0.3s;
                }
            }
        }
    }
}

.brands {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;

    @media(min-width:1400px) {
        gap: 3rem;
        padding: 3rem;
    }

    .brand {
    }
}

.SmilingContainer {
    background-color: #F7F7F7;



    .container {
        width: 100%;
        height: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        overflow: hidden;

        .contactInfo {
            display: flex;
            justify-content: center;
            align-content: center;
            color: $primary-color;
            flex-direction: column;
            width: 50%;
            margin-bottom: 3rem;
            margin-left: 8rem;
            gap: 1rem;


            span {
                font-weight: bold;
                font-size: 14px;
                font-family: 'Poppins';
            }

            h2 {
                color: $primary-color;
                font-size: 40px;
                font-weight: bold;
            }

            img {
                padding-right: 5px;
            }

            div {

                p {
                    padding-left: 22 px;
                }
            }
        }

        .happyGuy {
            display: flex;
            position: relative;
            left: 30%;
            z-index: 3;

            #bgOddSquare {
                display: flex;
                flex-shrink: 0;
                position: absolute;
                z-index: -1;
                left: -30px;
                bottom: -50px;
            }

            #dot {
                display: flex;
                flex-shrink: 0;
                position: absolute;
                z-index: -55;
                right: 15rem;
                bottom: 0rem;
                width: 25%;
            }

            #guy {
                display: flex;
                flex-shrink: 0;
                position: absolute;
                height: 90%;
                width: auto;
                bottom: 0;
            }
        }
    }
}

.canHelpEmailBox {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: $primary-color;
    margin-top: 2rem;
    padding: 1rem;
    width: 100%;
    height: 214px;
    font-family: 'Poppins';

    h5 {
        width: 100%;
        color: $third-color;
        font-weight: bold;
    }

    p {
        color: white;
        font-size: 14px;
    }


    .inputBox {
        position: relative;

        input {
            margin-top: 1rem;
            height: 35px;
            width: 100%;
            justify-content: center;
            border-radius: 5px;
            padding-left: 1rem;
            color: #9C9EA6;
            font-style: italic;
            border: 0;
        }

        #emailSmall {
            width: 2rem;
            position: absolute;
            height: auto;
            color: $primary-color;
            background-color: white;
            color: black;
            right: 5px;
            bottom: 0;
        }
    }

    #emailBg {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 5;
    }
}

.formBox2 {
    display: grid;
    font-family: 'Poppins';
    gap: 1rem;
    padding-bottom: 2rem;
    border-radius: 5px;
    height: 350px;
    grid-template-areas: "formHeader formHeader""formName formEmail" "formQuestion formQuestion" "formButton formButton";

    h2 {
        grid-area: formHeader;
        font-weight: bold;
    }

    #formName {
        grid-area: formName;
        height: 52px;
        width: 100%;
        height: 100%;
        padding-left: 1rem;
        font-style: italic;
    }

    #formEmail {
        grid-area: formEmail;
        height: 52px;
        width: 100%;
        height: 100%;
        padding-left: 1rem;
        font-style: italic;
    }

    #formQuestion {
        padding-left: 1rem;
        grid-area: formQuestion;
        height: 100px;
        font-style: italic;
        border: 1px solid #e7e5e5;
    }

    #submitButton {
        grid-area: formButton;
        background-color: $primary-color;
        font-weight: bold;
        height: 100%;
        color: $third-color;
        border: 0px;
        border-radius: 2px;
    }




    input {
        border: 1px solid #e7e5e5;
    }



    button {
        display: block;
        width: 20%;
        height: 100%;
    }
}

.contactPage {
    .SmilingContainer {
        background-color: white;
    }

    .mapBox {
        position: relative;
        z-index: 0;
        padding-bottom: 15rem;


        img {
            width: 100%;
            filter: brightness(70%);
        }

        .formBox3 {
            box-shadow: 0px 1px 20px 5px #e7e5e5;
            position: absolute;
            bottom: 0;
            left: 23%;
            width: 65%;
            background-color: white;
            border-radius: 2px;
            display: grid;
            font-family: 'Poppins';
            gap: 1rem;
            padding-bottom: 2rem;
            padding-left: 5rem;
            padding-right: 5rem;
            border-radius: 5px;
            height: 500px;
            align-content: center;
            justify-content: center;
            text-align: center;
            grid-template-areas:
                "formSpan formSpan" "formHeader formHeader" "formP formP" "formName formPhone" "formEmail formConsulting" "formButton formButton";



            span {
                grid-area: formSpan;
            }

            h2 {
                grid-area: formHeader;
                font-weight: bold;
            }

            #formP {
                grid-area: formP;
                padding-left: 15rem;
                padding-right: 15rem;
                font-size: 14px;
                font-style: italic;
            }

            #formName {
                grid-area: formName;
                height: 52px;
                width: 100%;
                padding-left: 1rem;
                font-style: italic;
            }

            #formPhone {
                grid-area: formPhone;
                height: 52px;
                width: 100%;
                padding-left: 1rem;
                font-style: italic;
            }

            #formEmail {
                padding-left: 1rem;
                grid-area: formEmail;
                font-style: italic;
                border: 1px solid #e7e5e5;
                height: 52px;
            }

            #formConsulting {
                grid-area: formConsulting;
                padding-left: 1rem;
            }

            #submitButton {
                grid-area: formButton;
                display: block;
                background-color: $primary-color;
                font-weight: bold;
                height: 52px;
                width: 30%;
                justify-self: center;
                color: $third-color;
                border: 0px;
                border-radius: 2px;
                margin-top: 2rem;
            }


            input {
                border: 1px solid #e7e5e5;
            }



            button {
                display: block;
                width: 20%;
                height: 100%;
            }
        }
    }
}
