theme-orange {
    color: #D9C3A9;
}

$primary-color: #4F5955;
$section-subtext: #D9C3A9;
$sub-color: #D9C3A9;
$third-color: #F2EDDC;




h1, h2, h3, h4 {
    color: $primary-color;
}

.sectionSubText {
    color: $section-subtext;
    font-size: 14px;
    font-weight: bold;
}

header {
    display: flex;
    align-items: center;
    background-color: $primary-color;
    width: 100%;
    height: 49px;
    color: white;


    .container {
        display: flex;
        justify-content: space-between;

        p {
            padding: 0;
            margin: 0;
        }
    }

    .socials {
        display: flex;
    }
}

nav {
    display: flex;
    background-color: white;
    color: $primary-color;
    text-decoration: none;

    @media (min-width: 1400px) {
        height: 82px;
    }

    .container {
        display: flex;
        flex-direction: row;

        a {
            display: flex;
            align-self: center;
        }

        ul {
            display: flex;
            width: 80%;
            list-style-type: none;
            justify-content: space-evenly;

            li {
                display: flex;


                a {
                    display: flex;
                    align-self: center;
                    color: $primary-color;
                    font-size: 16px;
                    font-weight: bold;
                    text-decoration: none;

                    &:hover {
                        color: $sub-color;
                    }
                }

                &.current {
                    a {
                        color: $sub-color;
                    }
                }
            }
        }

        .searchfield {
            display: flex;

            input {
                display: flex;
                height: fit-content;
                align-self: center;
            }

            i {
                //
            }
        }
    }
}

.breadcrumbSection {
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    padding: 122px 0px 122px 0px;
    background-color: #F7F7F7;

    h3 {
        font-weight: bold;
        font-size: 40px;
        color: $primary-color;
    }

    .breadcrumb {
        display: flex;


        ul {
            display: flex;
            margin: 0;

            li {

                a {
                    align-self: center;
                }
            }
        }
    }
}

body {
    margin: 0;
}

footer {
    width: 100%;
    background-color: #0E0E0E;
    display: flex;
    padding-left: 7rem;
    font-size: 14px;

    p {
        color: $primary-color;
        display: inline;
    }

    a {
        display: inline;
        color: $sub-color;
        text-decoration: none;
    }
}



.hero {
    width: 100%;
    padding-bottom: 100px;

    .heroContainer {
        position: relative;

        .heroText {
            display: flex;
            flex-direction: column;
            position: absolute;
            justify-content: space-evenly;
            height: 100%;
            margin: 0px 64px 0px 64px;

            .heroH1 {

                h1 {
                    font-size: 70px;
                    font-weight: bold;
                    text-shadow: 0px 3px 2px;
                    color: $primary-color;
                }

                span {
                    color: #535656;
                    font-size: 70px;
                    font-weight: bold;
                    text-shadow: 0px 3px 2px;
                }
            }


            p {
                display: flex;
            }

            .contactButton {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $primary-color;
                color: white;
                text-decoration: none;
                width: 15%;
                height: 20%;
                border-radius: 5px;
                color: $third-color;
                font-weight: bold;


                &:hover {
                    color: $sub-color;
                }
            }
        }

        img {
            width: 100%;
        }
    }
}

.about {
    .ceoSection {
        display: flex;

        .ceoText {
            padding-top: 6rem;
        }

        .ceo {
            padding-top: 6rem;
            padding-right: 3rem;
        }
    }

    .reviews {
        display: grid;
        background-color: #F7F7F7;
        grid-template-columns: 40% 60%;


        .reviewsText {
            padding-top: 3rem;
            padding-left: 6rem;
            padding-bottom: 1rem;

            h3 {
                font-weight: bold;
                color: $primary-color;
                font-size: 40px;
            }
        }

        img {
        }

        .reviewsImage {
            margin-left: 2rem;


            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .expertsSection {
        padding-bottom: 4rem;
        text-align: center;
        padding-top: 4rem;

        h1 {
            padding-bottom: 4rem;
            font-weight: bold;
        }

        .experts {

            ul {
                display: flex;
                flex-wrap: wrap;
                gap: 1rem;
                list-style: none;

                li {
                    display: flex;
                    flex-direction: column;
                    flex: 1 0 30%; /* Each item takes up approximately 30% of the width */

                    box-sizing: border-box;
                    border: 1px solid #e7e5e5;

                    span {
                        font-weight: bold;
                        font-size: 22px;
                        color: $primary-color;
                    }

                    p {
                        color: #9C9EA6;
                        font-size: 13px;
                    }
                }

                .lower {
                    flex-grow: 1; /* This allows the item to grow to fill available space */
                    flex-shrink: 0; /* This prevents the item from shrinking */
                    flex-basis: 20%; /* This sets the initial size of the item to 20% of the container's */

                    margin-top: 20px;

                    span {
                        font-weight: bold;
                        font-size: 22px;
                        color: $primary-color;
                    }

                    p {
                        color: #9C9EA6;
                        font-size: 13px;
                    }

                    img {
                        height: 300px;
                        width: auto;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}

.ourServices {
    padding: 3rem 0 3rem 0;

    h1 {
        text-align: center;
    }

    h6 {
        text-align: center;
    }

    background-color: #F7F7F7;
}

.servicesOverview {
    display: grid;


    h1 {
        text-align: center;
    }

    a {
        text-decoration: none;
        color: black;

        &:hover {
            text-decoration: underline;
            transition: 0.1s;
            color: $primary-color;
        }
    }

    ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 3rem;

        li {
            list-style-type: none;
            background-color: white;

            h2 {
                text-align: center;
            }

            p {
                text-decoration: none;
                padding-left: 1rem;
            }
        }
    }
}

.servicesOverview2 {
    display: grid;


    h1 {
        text-align: center;
        font-weight: bold;
        padding: 2rem;
    }

    a {
        text-decoration: none;
        color: black;

        &:hover {
            text-decoration: underline;
            transition: 0.1s;
            color: $primary-color;
        }
    }

    ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 3rem;

        li {
            list-style-type: none;
            border: 1px solid #e7e5e5;
            background-color: white;

            h2 {
                text-align: start;
                margin-left: 2rem;
                padding: 1rem;
                font-weight: bold;
            }

            p {
                text-decoration: none;
                padding-left: 1rem;
                color: #535656;
                padding: 1rem;
            }
        }
    }
}

.projectsPage {
    display: grid;
    grid-template-columns: 80% 20%;
    padding-top: 4rem;

    aside {
        border-left: 1px solid #e7e5e5;
        padding-left: 1rem;

        .tags {
            display: flex;
            flex-direction: column;
           
            flex-flow: wrap;

            h1 {
                display: block;
                width: 100%;
            }

            a {
                font-family:Poppins;
                font-size:13px;
                color:$primary-color;
                font-weight:400;
                width: fit-content;
                height:60px;
                padding: 0.5rem 1rem 0.5rem 1rem;
                margin: 0.2rem;
                text-align: center;
                align-items:center;
                align-self:center;
                align-content:center;
                border: 2px solid #e7e5e5;
                border-radius:30px;

                

                &:hover {
                    text-decoration: underline;
                    background-color:#F7F7F7;
                }
            }
        }
    }
}

.projectsOverview {
    padding-left: 0;
    padding-right: 3rem;

    ul {
        display: flex;
        flex-direction: column;
        padding: 0;

        li {
            display: flex;
            list-style: none;
            flex-direction: row;
            padding: 1rem 0 1rem 0;
            border-bottom: 1px solid #e7e5e5;


            .project-text {
                padding: 1rem;
            }
        }
    }
}

.pagination {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
    box-sizing: border-box;
    font-weight: bold;


    a {
        padding: 0.5rem 1rem 0.5rem 1rem;
        color: #4B5264;
        box-sizing: border-box;
        border: 1px solid transparent;

        &:hover {
            transition: 0.5s;
            border: 1px solid #9C9EA6;
            border-radius: 50%;
            opacity: 50%;
        }
    }

    .prev {
        opacity: 50%;
    }

    .one {
        border: 1px solid #9C9EA6;
        border-radius: 100%;
        opacity: 50%;
    }

    .two {
    }



    .Next {
    }
}

.success {


    .container {
        position: relative;
        margin-top: 8rem;

        .trusted {
            display: flex;
            gap: 1rem;
            justify-content: center;
            justify-items: center;
            flex-direction: column;
            z-index: 3;

            h2 {
                text-align: center;
                font-size: 40px;
                font-weight: bold;
                z-index: 3;
            }

            h5 {
                text-align: center;
                font-size: 40px;
                z-index: 3;
            }


            p {
                z-index: 3;
            }

            a {
                z-index: 3;
                align-self: center;
                width: 13%;
                background-color: $primary-color;
                color: $third-color;
                padding: 0.8rem;
                margin-bottom: 3rem;
                font-weight: bold;

                &:hover {
                    transition: 0.5s;
                    background-color: transparent;
                    color: $primary-color;
                    border: 1px solid black;
                }

                .btn {
                }
            }
        }

        #successBg {
            position: absolute;
            width: 70%;
            padding-top: 14rem;
            align-self: center;
            display: flex;
            z-index: -1;
        }

        .colored-svg {
            filter: invert(10%) sepia(0%) saturate(100%);
        }
    }

    .successImages {

        #successImage {
        }

        img {
        }
    }

    .subSection {
        background-color: $primary-color;
        position: relative;
        display: flex;
        flex-direction: column;
        padding-bottom: 25rem;

        #successBg2 {
            padding-top: 5rem;
            padding-left: 5rem;
            position: absolute;
            z-index: 0;
            width: 90%;
        }

        h6 {
            text-align: center;
            padding-top: 4rem;
        }

        h2 {
            color: white;
            font-size: 40px;
            font-weight: bold;
            text-align: center;
        }

        .storyBoxes {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            padding: 0 10rem 0 10rem;
            gap: 5rem;
            z-index: 3;


            .storyBox {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: fit-content;
                color: white;
                font-weight: bold;
                font-size: 18px;

                span {
                    font-size: 100px;
                    font-weight: bold;
                    color: $sub-color;
                }
            }
        }

        .successImages2 {
            display: flex;
            justify-content: center;
            z-index: 3;

            #successImage2 {
            }

            img {
            }
        }
    }


    .successImages2 {
        justify-content: center;
        z-index: 3;
        position: relative;
        top: -16rem;
        display: flex;

        #successImage2 {
        }

        img {
        }
    }
}

.projects {
    padding-bottom: 3rem;

    span {
        padding-left: 4rem;
    }

    h1 {
        padding-left: 4rem;
        padding-bottom: 3rem;
    }
}

.recentProjects {


    ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 0;
        width: 100%;

        @media(min-width:1400px) {
            height: 480px;
        }


        li {
            list-style: none;
            display: flex;
            flex-direction: column;
            position: relative;

            p {
                display: none;
            }

            h2 {
                display: none;
            }

            img {
                height: 100%;
                width: 100%;

                @media(min-width:1400px) {
                    object-fit: cover;
                }
            }

            a {
                position: absolute;
                bottom: 0;
                width: 100%;
                background-color: #4F5955;
                opacity: 80%;
                padding: 2rem;
                color: white;
                text-decoration: none;
                font-weight: bold;

                &:hover {
                    color: $sub-color;
                    opacity: 100%;
                    padding: 4rem;
                    transition: 0.3s;
                }
            }
        }
    }
}

.brands {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;

    @media(min-width:1400px) {
        gap: 3rem;
        padding: 3rem;
    }

    .brand {
    }
}

.SmilingContainer {
    background-color: #F7F7F7;
    display: grid;
    padding-top: 3rem;
    grid-template-columns: 1fr 1fr;

    .contactInfo {
        display: grid;
    }

    .happyGuy {
        display: grid;
        position: relative;
        left: 30%;
        z-index: 3;

        #bgOddSquare {
            position: absolute;
            z-index: -1;
            bottom: 0;
            left: -30; /* Note: This value may need a unit (e.g., px) */
            height: 64%;
            width: 40%;
        }

        #dot {
            position: absolute;
            z-index: -55;
            left: 11%;
            width: 25%;
            height: 100%;
        }

        #guy {
            height: 100%;
            width: 25%;
        }
    }
}
