theme-orange {
  color: #D9C3A9;
}

h1, h2, h3, h4 {
  color: #4F5955;
}

p {
  font-family: "Poppins";
}

.sectionSubText {
  color: #D9C3A9;
  font-size: 14px;
  font-weight: bold;
}

header {
  display: flex;
  align-items: center;
  background-color: #4F5955;
  width: 100%;
  height: 49px;
  color: white;
}
header .container {
  display: flex;
  justify-content: space-between;
}
header .container p {
  font-size: 13px;
  padding: 0;
  margin: 0;
}
header .socials {
  display: flex;
  padding-right: 3rem;
  height: 100%;
  box-sizing: border-box;
}
header .socials .socialItem {
  display: flex;
  text-align: center;
  padding: 0.2rem;
  border-left: 1px solid #9C9EA6;
  border-right: 1px solid #9C9EA6;
}
header .socials .socialItem img {
  align-self: center;
  height: 13px;
}
header .socials .socialItem:hover {
  background-color: #D9C3A9;
  box-sizing: border-box;
  border: 1px solid #D9C3A9;
  transition: 0.2s;
}
nav {
  display: flex;
  background-color: white;
  color: #4F5955;
  text-decoration: none;
}
@media (min-width: 1400px) {
  nav {
    height: 82px;
  }
}
nav .container {
  display: flex;
  flex-direction: row;
  height: 100%;
}
nav .container a {
  display: flex;
  align-self: center;
}
nav .container ul {
  display: flex;
  width: 80%;
  height: 100%;
  list-style-type: none;
  justify-content: space-evenly;
}
nav .container ul li {
  display: flex;
}
nav .container ul li a {
  display: flex;
  align-self: center;
  color: #4F5955;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}
nav .container ul li a:hover {
  color: #D9C3A9;
}
nav .container ul li.current a {
  color: #D9C3A9;
}
nav .container .searchfield {
  display: flex;
}
nav .container .searchfield input {
  display: flex;
  height: fit-content;
  align-self: center;
}
.breadcrumbSection {
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  padding: 122px 0px 122px 0px;
  background-color: #F7F7F7;
}
.breadcrumbSection h3 {
  font-weight: bold;
  font-size: 40px;
  color: #4F5955;
}
.breadcrumbSection ul li span {
  margin-left: 1rem;
  margin-right: 1rem;
}
.breadcrumbSection ul li a {
  color: #4F5955;
  text-decoration: none;
  align-self: center;
}

body {
  margin: 0;
}

footer {
  width: 100%;
  background-color: #0E0E0E;
  display: flex;
  padding-left: 7rem;
  font-size: 14px;
}
footer p {
  color: #4F5955;
  display: inline;
}
footer a {
  display: inline;
  color: #D9C3A9;
  text-decoration: none;
}

.hero {
  width: 100%;
  padding-bottom: 100px;
}
.hero .heroContainer {
  position: relative;
}
.hero .heroContainer .heroText {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: space-evenly;
  height: 80%;
  margin: 3rem 64px 0px 64px;
}
.hero .heroContainer .heroText .heroH1 h1 {
  font-size: 70px;
  font-weight: bold;
  text-shadow: 0px 3px 2px;
  color: #4F5955;
}
.hero .heroContainer .heroText .heroH1 span {
  width: 50%;
  color: #535656;
  font-size: 70px;
  font-weight: bold;
  text-shadow: 0px 3px 2px;
}
.hero .heroContainer .heroText p {
  width: 50%;
  color: #4F5955;
  font-size: 16px;
}
.hero .heroContainer .heroText .contactButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4F5955;
  color: white;
  text-decoration: none;
  width: 15%;
  height: 10%;
  border-radius: 5px;
  color: #F2EDDC;
  font-weight: bold;
  margin-bottom: 2rem;
  flex-shrink: 0;
}
.hero .heroContainer .heroText .contactButton:hover {
  color: #D9C3A9;
}
.hero .heroContainer img {
  z-index: 0;
  width: 100%;
  height: 90%;
  object-fit: cover;
}

.about .ceoSection {
  display: flex;
}
.about .ceoSection .ceoText {
  padding-top: 6rem;
}
.about .ceoSection .ceo {
  padding-top: 6rem;
  padding-right: 3rem;
}
.about .ceoSection .ceo p {
  font-size: 16px;
  padding-top: 1rem;
  font-style: italic;
  color: #4F5955;
}
.about .reviews {
  display: grid;
  background-color: #F7F7F7;
  grid-template-columns: 40% 60%;
}
.about .reviews .reviewsText {
  padding-top: 3rem;
  padding-left: 6rem;
  padding-bottom: 1rem;
}
.about .reviews .reviewsText h3 {
  font-weight: bold;
  color: #4F5955;
  font-size: 40px;
}
.about .reviews .reviewsImage {
  margin-left: 2rem;
}
.about .reviews .reviewsImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about .expertsSection {
  padding-bottom: 4rem;
  text-align: center;
  padding-top: 4rem;
}
.about .expertsSection h1 {
  padding-bottom: 4rem;
  font-weight: bold;
}
.about .expertsSection .experts ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
}
.about .expertsSection .experts ul li {
  display: flex;
  flex-direction: column;
  flex: 1 0 30%; /* Each item takes up approximately 30% of the width */
  box-sizing: border-box;
  border: 1px solid #e7e5e5;
}
.about .expertsSection .experts ul li span {
  font-weight: bold;
  font-size: 22px;
  color: #4F5955;
}
.about .expertsSection .experts ul li p {
  color: #9C9EA6;
  font-size: 13px;
}
.about .expertsSection .experts ul .lower {
  flex-grow: 1; /* This allows the item to grow to fill available space */
  flex-shrink: 0; /* This prevents the item from shrinking */
  flex-basis: 20%; /* This sets the initial size of the item to 20% of the container's */
  margin-top: 20px;
}
.about .expertsSection .experts ul .lower span {
  font-weight: bold;
  font-size: 22px;
  color: #4F5955;
}
.about .expertsSection .experts ul .lower p {
  color: #9C9EA6;
  font-size: 13px;
}
.about .expertsSection .experts ul .lower img {
  height: 300px;
  width: auto;
  object-fit: cover;
}

.ourServices {
  padding: 3rem 0 3rem 0;
  background-color: #F7F7F7;
}
.ourServices h1 {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  padding-bottom: 1rem;
}
.ourServices h6 {
  text-align: center;
}

.servicesOverview {
  display: grid;
}
.servicesOverview h2 {
  display: flex;
  padding: 1rem 0 1rem 1rem;
  align-self: start;
}
.servicesOverview p {
  display: flex;
  padding: 1rem 0 1rem 1rem;
  align-self: start;
}
.servicesOverview a {
  text-decoration: none;
  color: black;
}
.servicesOverview a:hover {
  text-decoration: underline;
  transition: 0.1s;
  color: #4F5955;
}
.servicesOverview ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 3rem;
}
.servicesOverview ul li {
  list-style-type: none;
  background-color: white;
}
.servicesOverview ul li h2 {
  text-align: center;
}
.servicesOverview ul li p {
  text-decoration: none;
  padding-left: 1rem;
}

.servicesOverview2 {
  display: grid;
}
.servicesOverview2 h1 {
  text-align: center;
  font-weight: bold;
  padding: 2rem;
}
.servicesOverview2 a {
  text-decoration: none;
  color: black;
}
.servicesOverview2 a:hover {
  text-decoration: underline;
  transition: 0.1s;
  color: #4F5955;
}
.servicesOverview2 ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 3rem;
}
.servicesOverview2 ul li {
  list-style-type: none;
  border: 1px solid #e7e5e5;
  background-color: white;
}
.servicesOverview2 ul li h2 {
  text-align: start;
  margin-left: 2rem;
  padding: 1rem;
  font-weight: bold;
}
.servicesOverview2 ul li p {
  text-decoration: none;
  padding-left: 1rem;
  color: #535656;
  padding: 1rem;
}

.projectsPage {
  display: grid;
  grid-template-columns: 80% 20%;
  padding-top: 4rem;
}
.projectsPage aside {
  border-left: 1px solid #e7e5e5;
  padding-left: 1rem;
}
.projectsPage aside .tags {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
}
.projectsPage aside .tags h1 {
  display: block;
  width: 100%;
}
.projectsPage aside .tags a {
  font-family: "Poppins";
  font-size: 13px;
  color: #4F5955;
  font-weight: 400;
  width: fit-content;
  height: 60px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin: 0.2rem;
  text-align: center;
  align-items: center;
  align-self: center;
  align-content: center;
  border: 2px solid #e7e5e5;
  border-radius: 30px;
}
.projectsPage aside .tags a:hover {
  text-decoration: underline;
  background-color: #F7F7F7;
}

.projectsOverview {
  padding-left: 0;
  padding-right: 3rem;
}
.projectsOverview ul {
  display: flex;
  flex-direction: column;
  padding: 0;
}
.projectsOverview ul li {
  display: flex;
  list-style: none;
  flex-direction: row;
  padding: 1rem 0 1rem 0;
  border-bottom: 1px solid #e7e5e5;
}
.projectsOverview ul li .project-text {
  padding: 1rem;
}
.projectsOverview ul li .project-text a {
  text-decoration: none;
  color: #535656;
  font-weight: bold;
  font-size: 14px;
}
.projectsOverview ul li .project-text h2 a {
  font-size: 22px;
  text-decoration: none;
  color: #4F5955;
}

.detailedUl li::marker {
  color: #5D8C87;
}

.detailedUlServices li::marker {
  color: #D9C3A9;
}

.projectDetails {
  margin-right: 4rem;
  color: #535656;
  font-size: 14px;
}
.projectDetails span {
  color: #9C9EA6;
  display: block;
  padding-bottom: 2rem;
}
.projectDetails h2 {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: bold;
}
.projectDetails .firstPartImage {
  display: block;
  width: 100%;
  height: auto;
}
.projectDetails .detailed .secondPart {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2rem 0 2rem 0;
  gap: 1rem;
}
.projectDetails .detailed .secondPart .secondImageDiv img {
  width: 100%;
  object-fit: cover;
}
.projectDetails .detailed .thirdPart .thirdImageDiv img {
  width: 100%;
}
.projectDetails .detailed .fourthPart {
  padding: 2rem 0 2rem 0;
}

.pagination {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
  box-sizing: border-box;
  font-weight: bold;
}
.pagination a {
  padding: 0.5rem 1rem 0.5rem 1rem;
  color: #4B5264;
  box-sizing: border-box;
  border: 1px solid transparent;
}
.pagination a:hover {
  transition: 0.5s;
  border: 1px solid #9C9EA6;
  border-radius: 50%;
  opacity: 50%;
}
.pagination .prev {
  opacity: 50%;
}
.pagination .one {
  border: 1px solid #9C9EA6;
  border-radius: 100%;
  opacity: 50%;
}
.success .container {
  position: relative;
  margin-top: 8rem;
}
.success .container .trusted {
  display: flex;
  gap: 1rem;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  z-index: 3;
}
.success .container .trusted h2 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  z-index: 3;
}
.success .container .trusted h5 {
  text-align: center;
  font-size: 40px;
  z-index: 3;
}
.success .container .trusted p {
  z-index: 3;
}
.success .container .trusted a {
  z-index: 3;
  align-self: center;
  width: 13%;
  background-color: #4F5955;
  color: #F2EDDC;
  padding: 0.8rem;
  margin-bottom: 3rem;
  font-weight: bold;
}
.success .container .trusted a:hover {
  transition: 0.5s;
  background-color: transparent;
  color: #4F5955;
  border: 1px solid black;
}
.success .container #successBg {
  position: absolute;
  width: 70%;
  padding-top: 14rem;
  align-self: center;
  display: flex;
  z-index: -1;
}
.success .container .colored-svg {
  filter: invert(10%) sepia(0%) saturate(100%);
}
.success .subSection {
  background-color: #4F5955;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 25rem;
}
.success .subSection #successBg2 {
  padding-top: 5rem;
  padding-left: 5rem;
  position: absolute;
  z-index: 0;
  width: 90%;
}
.success .subSection h6 {
  text-align: center;
  padding-top: 4rem;
}
.success .subSection h2 {
  color: white;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
.success .subSection .storyBoxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 10rem 0 10rem;
  gap: 5rem;
  z-index: 3;
}
.success .subSection .storyBoxes .storyBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  color: white;
  font-weight: bold;
  font-size: 18px;
}
.success .subSection .storyBoxes .storyBox span {
  font-size: 100px;
  font-weight: bold;
  color: #D9C3A9;
}
.success .subSection .successImages2 {
  display: flex;
  justify-content: center;
  z-index: 3;
}
.success .successImages2 {
  justify-content: center;
  z-index: 3;
  position: relative;
  top: -16rem;
  display: flex;
}
.projects {
  margin-top: -5rem;
  padding-bottom: 3rem;
}
.projects span {
  padding-left: 4rem;
}
.projects h1 {
  padding-left: 4rem;
  padding-bottom: 3rem;
}

.recentProjects ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0;
  width: 100%;
}
@media (min-width: 1400px) {
  .recentProjects ul {
    height: 480px;
  }
}
.recentProjects ul li {
  list-style: none;
  display: flex;
  flex-direction: column;
  position: relative;
}
.recentProjects ul li p {
  display: none;
}
.recentProjects ul li h2 {
  display: none;
}
.recentProjects ul li img {
  height: 100%;
  width: 100%;
}
@media (min-width: 1400px) {
  .recentProjects ul li img {
    object-fit: cover;
  }
}
.recentProjects ul li a {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #4F5955;
  opacity: 80%;
  padding: 2rem;
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.recentProjects ul li a:hover {
  color: #D9C3A9;
  opacity: 100%;
  padding: 4rem;
  transition: 0.3s;
}

.brands {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: auto;
}
@media (min-width: 1400px) {
  .brands {
    gap: 3rem;
    padding: 3rem;
  }
}
.SmilingContainer {
  background-color: #F7F7F7;
  display: grid;
  padding-top: 3rem;
  grid-template-columns: 1fr 1fr;
}
.SmilingContainer .contactInfo {
  display: grid;
}
.SmilingContainer .happyGuy {
  display: grid;
  position: relative;
  left: 30%;
  z-index: 3;
}
.SmilingContainer .happyGuy #bgOddSquare {
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: -30; /* Note: This value may need a unit (e.g., px) */
  height: 64%;
  width: 40%;
}
.SmilingContainer .happyGuy #dot {
  position: absolute;
  z-index: -55;
  left: 11%;
  width: 25%;
  height: 100%;
}
.SmilingContainer .happyGuy #guy {
  height: 100%;
  width: 25%;
}
