<?xml version="1.0" encoding="utf-8"?>
<Content Key="31dfc1cb-337f-40ac-a537-6f4fd28306ba" Alias="Aaron Lambert" Level="3">
  <Info>
    <Parent Key="3004c18f-8607-4ad0-ab06-3b727eda80a2">About</Parent>
    <Path>/Home/About/AaronLambert</Path>
    <Trashed>false</Trashed>
    <ContentType>expertDetails</ContentType>
    <CreateDate>2024-09-24T15:04:33</CreateDate>
    <NodeName Default="Aaron Lambert" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <expertImage>
      <Value><![CDATA[/media/21tdshrx/aaron.svg]]></Value>
    </expertImage>
    <expertJobTitle>
      <Value><![CDATA[Business Specialist at Onatrix]]></Value>
    </expertJobTitle>
    <expertName>
      <Value><![CDATA[Aaron Lambert]]></Value>
    </expertName>
  </Properties>
</Content>