<?xml version="1.0" encoding="utf-8"?>
<Content Key="c479916c-08ef-454d-b386-62dee533a746" Alias="Brandon Kerr" Level="3">
  <Info>
    <Parent Key="3004c18f-8607-4ad0-ab06-3b727eda80a2">About</Parent>
    <Path>/Home/About/BrandonKerr</Path>
    <Trashed>false</Trashed>
    <ContentType>expertDetails</ContentType>
    <CreateDate>2024-09-24T15:05:28</CreateDate>
    <NodeName Default="Brandon Kerr" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <expertImage>
      <Value><![CDATA[/media/ig1j503h/kerr.svg]]></Value>
    </expertImage>
    <expertJobTitle>
      <Value><![CDATA[ CFO & Co-Founderat Onatrix]]></Value>
    </expertJobTitle>
    <expertName>
      <Value><![CDATA[Brandon Kerr]]></Value>
    </expertName>
  </Properties>
</Content>