<?xml version="1.0" encoding="utf-8"?>
<Content Key="b3513a40-a7ed-46f2-9167-716fb7e54064" Alias="Brandon Newton" Level="3">
  <Info>
    <Parent Key="3004c18f-8607-4ad0-ab06-3b727eda80a2">About</Parent>
    <Path>/Home/About/BrandonNewton</Path>
    <Trashed>false</Trashed>
    <ContentType>expertDetails</ContentType>
    <CreateDate>2024-09-24T15:03:08</CreateDate>
    <NodeName Default="Brandon Newton" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <expertImage>
      <Value><![CDATA[/media/nuokphff/brandon.svg]]></Value>
    </expertImage>
    <expertJobTitle>
      <Value><![CDATA[Financial Advisor at Onatrix]]></Value>
    </expertJobTitle>
    <expertName>
      <Value><![CDATA[Brandon Newton]]></Value>
    </expertName>
  </Properties>
</Content>