<?xml version="1.0" encoding="utf-8"?>
<Content Key="22abdac9-5266-4152-a8fe-4d2a4cb817ff" Alias="Business Insights for SP Group" Level="3">
  <Info>
    <Parent Key="6b344d3a-8e6e-4683-83c4-f208ffc09d73">Projects</Parent>
    <Path>/Home/Projects/BusinessInsightsForSPGroup</Path>
    <Trashed>false</Trashed>
    <ContentType>projectDetailsPage</ContentType>
    <CreateDate>2024-09-06T02:04:50</CreateDate>
    <NodeName Default="Business Insights for SP Group" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b04964e8-c176-4adb-a949-276fe64ff5ac">projectDetailPage</Template>
  </Info>
  <Properties>
    <aboutParagraph>
      <Value><![CDATA[]]></Value>
    </aboutParagraph>
    <aboutSmallTitle>
      <Value><![CDATA[]]></Value>
    </aboutSmallTitle>
    <aboutTitle>
      <Value><![CDATA[]]></Value>
    </aboutTitle>
    <brandsList>
      <Value><![CDATA[]]></Value>
    </brandsList>
    <ceoNameParagraph>
      <Value><![CDATA[]]></Value>
    </ceoNameParagraph>
    <ceoQuoteParagraph>
      <Value><![CDATA[]]></Value>
    </ceoQuoteParagraph>
    <ceoSignatureImage>
      <Value><![CDATA[]]></Value>
    </ceoSignatureImage>
    <companyAddress>
      <Value><![CDATA[]]></Value>
    </companyAddress>
    <companyEmailAddress>
      <Value><![CDATA[]]></Value>
    </companyEmailAddress>
    <companyLogo>
      <Value><![CDATA[]]></Value>
    </companyLogo>
    <companyPhoneNumber>
      <Value><![CDATA[]]></Value>
    </companyPhoneNumber>
    <contactButton>
      <Value><![CDATA[]]></Value>
    </contactButton>
    <detailedTags>
      <Value><![CDATA[]]></Value>
    </detailedTags>
    <firstPart>
      <Value><![CDATA[]]></Value>
    </firstPart>
    <footerText>
      <Value><![CDATA[]]></Value>
    </footerText>
    <fourthPart>
      <Value><![CDATA[]]></Value>
    </fourthPart>
    <heroImage>
      <Value><![CDATA[]]></Value>
    </heroImage>
    <heroParagraph>
      <Value><![CDATA[]]></Value>
    </heroParagraph>
    <heroSpan>
      <Value><![CDATA[]]></Value>
    </heroSpan>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <heroTitle2>
      <Value><![CDATA[]]></Value>
    </heroTitle2>
    <navLinks>
      <Value><![CDATA[]]></Value>
    </navLinks>
    <pageDescription>
      <Value><![CDATA[]]></Value>
    </pageDescription>
    <pageKeywords>
      <Value><![CDATA[]]></Value>
    </pageKeywords>
    <pageTitle>
      <Value><![CDATA[Business Insights for SP Group]]></Value>
    </pageTitle>
    <projectDate>
      <Value><![CDATA[May 17, 2024]]></Value>
    </projectDate>
    <projectMainImage>
      <Value><![CDATA[/media/frcbjxkr/pj2.svg]]></Value>
    </projectMainImage>
    <projectMainTitle>
      <Value><![CDATA[]]></Value>
    </projectMainTitle>
    <projectPreviewParagraph>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </projectPreviewParagraph>
    <projectsSectionTitle>
      <Value><![CDATA[]]></Value>
    </projectsSectionTitle>
    <projectsSmallTitle>
      <Value><![CDATA[]]></Value>
    </projectsSmallTitle>
    <search>
      <Value><![CDATA[]]></Value>
    </search>
    <searchIcon>
      <Value><![CDATA[]]></Value>
    </searchIcon>
    <secondPart>
      <Value><![CDATA[]]></Value>
    </secondPart>
    <secondPartImage>
      <Value><![CDATA[]]></Value>
    </secondPartImage>
    <servicesSectionTitle>
      <Value><![CDATA[]]></Value>
    </servicesSectionTitle>
    <servicesSmallTitle>
      <Value><![CDATA[]]></Value>
    </servicesSmallTitle>
    <socialMediaList>
      <Value><![CDATA[]]></Value>
    </socialMediaList>
    <socialUrls>
      <Value><![CDATA[]]></Value>
    </socialUrls>
    <successBg>
      <Value><![CDATA[]]></Value>
    </successBg>
    <successBg2>
      <Value><![CDATA[]]></Value>
    </successBg2>
    <successButton>
      <Value><![CDATA[]]></Value>
    </successButton>
    <successImage>
      <Value><![CDATA[]]></Value>
    </successImage>
    <successImage2>
      <Value><![CDATA[]]></Value>
    </successImage2>
    <successParagraph>
      <Value><![CDATA[]]></Value>
    </successParagraph>
    <successSectionTitle>
      <Value><![CDATA[]]></Value>
    </successSectionTitle>
    <successSmallTitle>
      <Value><![CDATA[]]></Value>
    </successSmallTitle>
    <successStory1>
      <Value><![CDATA[]]></Value>
    </successStory1>
    <successStory1Span>
      <Value><![CDATA[]]></Value>
    </successStory1Span>
    <successStory2>
      <Value><![CDATA[]]></Value>
    </successStory2>
    <successStory2Span>
      <Value><![CDATA[]]></Value>
    </successStory2Span>
    <successStory3>
      <Value><![CDATA[]]></Value>
    </successStory3>
    <successStory3Span>
      <Value><![CDATA[]]></Value>
    </successStory3Span>
    <successSubTitle>
      <Value><![CDATA[]]></Value>
    </successSubTitle>
    <successTitle>
      <Value><![CDATA[]]></Value>
    </successTitle>
    <successTitle2>
      <Value><![CDATA[]]></Value>
    </successTitle2>
    <thirdPart>
      <Value><![CDATA[]]></Value>
    </thirdPart>
    <thirdPartImage>
      <Value><![CDATA[]]></Value>
    </thirdPartImage>
    <urlCredit>
      <Value><![CDATA[]]></Value>
    </urlCredit>
  </Properties>
</Content>