<?xml version="1.0" encoding="utf-8"?>
<Content Key="dda466ad-6a85-4c7b-974e-7b045219b0c0" Alias="Contact" Level="2">
  <Info>
    <Parent Key="0193b11d-91c9-49e5-8877-50890e4153a5">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2024-09-14T22:41:07</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b3e4187b-92aa-44d8-8a29-739b5163258a">contactPage</Template>
  </Info>
  <Properties>
    <aboutParagraph>
      <Value><![CDATA[]]></Value>
    </aboutParagraph>
    <aboutSmallTitle>
      <Value><![CDATA[]]></Value>
    </aboutSmallTitle>
    <aboutTitle>
      <Value><![CDATA[]]></Value>
    </aboutTitle>
    <brandsList>
      <Value><![CDATA[]]></Value>
    </brandsList>
    <ceoNameParagraph>
      <Value><![CDATA[]]></Value>
    </ceoNameParagraph>
    <ceoQuoteParagraph>
      <Value><![CDATA[]]></Value>
    </ceoQuoteParagraph>
    <ceoSignatureImage>
      <Value><![CDATA[]]></Value>
    </ceoSignatureImage>
    <companyAddress>
      <Value><![CDATA[]]></Value>
    </companyAddress>
    <companyEmailAddress>
      <Value><![CDATA[]]></Value>
    </companyEmailAddress>
    <companyLogo>
      <Value><![CDATA[]]></Value>
    </companyLogo>
    <companyPhoneNumber>
      <Value><![CDATA[]]></Value>
    </companyPhoneNumber>
    <contactButton>
      <Value><![CDATA[]]></Value>
    </contactButton>
    <footerText>
      <Value><![CDATA[]]></Value>
    </footerText>
    <heroImage>
      <Value><![CDATA[]]></Value>
    </heroImage>
    <heroParagraph>
      <Value><![CDATA[]]></Value>
    </heroParagraph>
    <heroSpan>
      <Value><![CDATA[]]></Value>
    </heroSpan>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <heroTitle2>
      <Value><![CDATA[]]></Value>
    </heroTitle2>
    <mapBg>
      <Value><![CDATA[/media/nggbqlqu/map.svg]]></Value>
    </mapBg>
    <navLinks>
      <Value><![CDATA[]]></Value>
    </navLinks>
    <pageDescription>
      <Value><![CDATA[]]></Value>
    </pageDescription>
    <pageKeywords>
      <Value><![CDATA[]]></Value>
    </pageKeywords>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
    <projectsSectionTitle>
      <Value><![CDATA[]]></Value>
    </projectsSectionTitle>
    <projectsSmallTitle>
      <Value><![CDATA[]]></Value>
    </projectsSmallTitle>
    <search>
      <Value><![CDATA[]]></Value>
    </search>
    <searchIcon>
      <Value><![CDATA[]]></Value>
    </searchIcon>
    <servicesSectionTitle>
      <Value><![CDATA[]]></Value>
    </servicesSectionTitle>
    <servicesSmallTitle>
      <Value><![CDATA[]]></Value>
    </servicesSmallTitle>
    <socialMediaList>
      <Value><![CDATA[]]></Value>
    </socialMediaList>
    <socialUrls>
      <Value><![CDATA[]]></Value>
    </socialUrls>
    <successBg>
      <Value><![CDATA[]]></Value>
    </successBg>
    <successBg2>
      <Value><![CDATA[]]></Value>
    </successBg2>
    <successButton>
      <Value><![CDATA[]]></Value>
    </successButton>
    <successImage>
      <Value><![CDATA[]]></Value>
    </successImage>
    <successImage2>
      <Value><![CDATA[]]></Value>
    </successImage2>
    <successParagraph>
      <Value><![CDATA[]]></Value>
    </successParagraph>
    <successSectionTitle>
      <Value><![CDATA[]]></Value>
    </successSectionTitle>
    <successSmallTitle>
      <Value><![CDATA[]]></Value>
    </successSmallTitle>
    <successStory1>
      <Value><![CDATA[]]></Value>
    </successStory1>
    <successStory1Span>
      <Value><![CDATA[]]></Value>
    </successStory1Span>
    <successStory2>
      <Value><![CDATA[]]></Value>
    </successStory2>
    <successStory2Span>
      <Value><![CDATA[]]></Value>
    </successStory2Span>
    <successStory3>
      <Value><![CDATA[]]></Value>
    </successStory3>
    <successStory3Span>
      <Value><![CDATA[]]></Value>
    </successStory3Span>
    <successSubTitle>
      <Value><![CDATA[]]></Value>
    </successSubTitle>
    <successTitle>
      <Value><![CDATA[]]></Value>
    </successTitle>
    <successTitle2>
      <Value><![CDATA[]]></Value>
    </successTitle2>
    <urlCredit>
      <Value><![CDATA[]]></Value>
    </urlCredit>
  </Properties>
</Content>