<?xml version="1.0" encoding="utf-8"?>
<Content Key="0193b11d-91c9-49e5-8877-50890e4153a5" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2024-09-02T20:34:49</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2540ed22-0f90-4208-ba2e-e6751007fd10">homePage</Template>
  </Info>
  <Properties>
    <aboutParagraph>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.]]></Value>
    </aboutParagraph>
    <aboutSmallTitle>
      <Value><![CDATA[About Us]]></Value>
    </aboutSmallTitle>
    <aboutTitle>
      <Value><![CDATA[We have 40 years experience]]></Value>
    </aboutTitle>
    <brandsList>
      <Value><![CDATA[[
  {
    "key": "519f2376-21b1-428a-ac24-983d79d4fbac",
    "mediaKey": "a93785a8-3eb2-4997-b1ca-66b1655d9103",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "fdde982d-b093-4750-bdd5-c6fdac2445e5",
    "mediaKey": "b0967607-4e51-42bb-b115-5de3ee3517ec",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "5e944963-69da-4cc9-889c-fa2027727a07",
    "mediaKey": "69fb6ca1-64b6-4c73-83ec-2d4afbcf8714",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "4c80042b-1ca4-4751-bf86-dcfe4a340941",
    "mediaKey": "6abd0968-b0b6-46e7-a36e-41eba4343bb3",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "6496f946-72e6-4552-811c-1307db81207a",
    "mediaKey": "e1767d0b-42f6-480f-bd63-2c9d53e52699",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "b5e96f0b-bc8b-410b-849b-d88dd24e630d",
    "mediaKey": "ccd0619b-75de-45f2-b288-204d69d9aa10",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </brandsList>
    <ceoNameParagraph>
      <Value><![CDATA[Tina Fox - CEO & Founder]]></Value>
    </ceoNameParagraph>
    <ceoQuoteParagraph>
      <Value><![CDATA[“We have over 25 years of experience providing expert financial advice to both businesses and individuals.”]]></Value>
    </ceoQuoteParagraph>
    <ceoSignatureImage>
      <Value><![CDATA[/media/o4td3ryj/onlinesignatures.svg]]></Value>
    </ceoSignatureImage>
    <companyAddress>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </companyAddress>
    <companyEmailAddress>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </companyEmailAddress>
    <companyLogo>
      <Value><![CDATA[/media/oc4dnfx1/brand.svg]]></Value>
    </companyLogo>
    <companyPhoneNumber>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </companyPhoneNumber>
    <contactButton>
      <Value><![CDATA[Contact us]]></Value>
    </contactButton>
    <footerText>
      <Value><![CDATA[© Onatrix. All Rights Reserved. Credits to]]></Value>
    </footerText>
    <heroImage>
      <Value><![CDATA[/media/5wmg5tc2/sl-home2.svg]]></Value>
    </heroImage>
    <heroParagraph>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim]]></Value>
    </heroParagraph>
    <heroSpan>
      <Value><![CDATA[success ]]></Value>
    </heroSpan>
    <heroTitle>
      <Value><![CDATA[We bring ]]></Value>
    </heroTitle>
    <heroTitle2>
      <Value><![CDATA[to you]]></Value>
    </heroTitle2>
    <navLinks>
      <Value><![CDATA[[
  {
    "name": "About",
    "target": null,
    "udi": "umb://document/3004c18f86074ad0ab063b727eda80a2",
    "url": null,
    "queryString": null
  },
  {
    "name": "Services",
    "target": null,
    "udi": "umb://document/16adf1260845483f990a2f9c3ce42b49",
    "url": null,
    "queryString": null
  },
  {
    "name": "Projects",
    "target": null,
    "udi": "umb://document/6b344d3a8e6e468383c4f208ffc09d73",
    "url": null,
    "queryString": null
  }
]]]></Value>
    </navLinks>
    <pageDescription>
      <Value><![CDATA[Description]]></Value>
    </pageDescription>
    <pageKeywords>
      <Value><![CDATA[[
  "keyword 1",
  "keyword 2"
]]]></Value>
    </pageKeywords>
    <pageTitle>
      <Value><![CDATA[Onatrix]]></Value>
    </pageTitle>
    <projectsSectionTitle>
      <Value><![CDATA[Recent projects]]></Value>
    </projectsSectionTitle>
    <projectsSmallTitle>
      <Value><![CDATA[OUR PROJECTS]]></Value>
    </projectsSmallTitle>
    <search>
      <Value><![CDATA[]]></Value>
    </search>
    <searchIcon>
      <Value><![CDATA[/media/dypnw3bd/search.svg]]></Value>
    </searchIcon>
    <servicesSectionTitle>
      <Value><![CDATA[We Provide The Solutions 
To Grow Your Business Faster]]></Value>
    </servicesSectionTitle>
    <servicesSmallTitle>
      <Value><![CDATA[Our Services]]></Value>
    </servicesSmallTitle>
    <socialMediaList>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "db1863c0-c720-4142-be60-53269f10ad00",
      "udi": "umb://element/bfcb43a1ef994177b58dbf35392c3b43",
      "platformName": "Facebook",
      "platformUrl": "https://www.facebook.com/",
      "platformImage": "[{\u0022key\u0022:\u0022481bd381-0e81-452b-ae5e-9578f7f0df46\u0022,\u0022mediaKey\u0022:\u00223ae67d87-2169-4674-8cd2-eae901539dfb\u0022,\u0022mediaTypeAlias\u0022:\u0022umbracoMediaVectorGraphics\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
    },
    {
      "contentTypeKey": "db1863c0-c720-4142-be60-53269f10ad00",
      "udi": "umb://element/bcd1a75858204f7fa5b5cef668918162",
      "platformName": "Twitter",
      "platformUrl": "https://twitter.com",
      "platformImage": "[{\u0022key\u0022:\u00225b89a8a7-1ee1-49da-9c37-9d245fb0256a\u0022,\u0022mediaKey\u0022:\u0022694f4b82-d3e4-45dd-9150-436355a254d0\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
    },
    {
      "contentTypeKey": "db1863c0-c720-4142-be60-53269f10ad00",
      "udi": "umb://element/77b59085f4184972bf732afe388df595",
      "platformName": "Linkedin",
      "platformUrl": "https://linkedin.com",
      "platformImage": "[{\u0022key\u0022:\u0022e0f452a4-c3e2-42a2-994d-68623a6c9941\u0022,\u0022mediaKey\u0022:\u0022981c69bb-32f1-4697-9a1d-b530696b4d3e\u0022,\u0022mediaTypeAlias\u0022:\u0022umbracoMediaVectorGraphics\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/bfcb43a1ef994177b58dbf35392c3b43",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/bcd1a75858204f7fa5b5cef668918162",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/77b59085f4184972bf732afe388df595",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </socialMediaList>
    <socialUrls>
      <Value><![CDATA[[
  {
    "name": "",
    "target": "_blank",
    "udi": "umb://media/d6ed8a8e791b4478b74eb3c4ec76b360",
    "url": null,
    "queryString": null
  },
  {
    "name": "Twitter",
    "target": "_blank",
    "udi": null,
    "url": "https://twitter.com",
    "queryString": null
  },
  {
    "name": "linkedin",
    "target": "_blank",
    "udi": null,
    "url": "https://google.com",
    "queryString": null
  }
]]]></Value>
    </socialUrls>
    <successBg>
      <Value><![CDATA[/media/oqrdmse3/dot-map-1.svg]]></Value>
    </successBg>
    <successBg2>
      <Value><![CDATA[/media/vskeu2vb/dot-map.svg]]></Value>
    </successBg2>
    <successButton>
      <Value><![CDATA[Read our story
]]></Value>
    </successButton>
    <successImage>
      <Value><![CDATA[/media/d3ui5tuh/people.svg]]></Value>
    </successImage>
    <successImage2>
      <Value><![CDATA[/media/sqrb1fvi/video-1.svg]]></Value>
    </successImage2>
    <successParagraph>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis molestie nulla. Nam accumsanporttitor arcu,ac tincidunt lectus tincidunt sed.]]></Value>
    </successParagraph>
    <successSectionTitle>
      <Value><![CDATA[Success stories]]></Value>
    </successSectionTitle>
    <successSmallTitle>
      <Value><![CDATA[SUCCESS STORIES]]></Value>
    </successSmallTitle>
    <successStory1>
      <Value><![CDATA[More than 100 customers has been served]]></Value>
    </successStory1>
    <successStory1Span>
      <Value><![CDATA[125]]></Value>
    </successStory1Span>
    <successStory2>
      <Value><![CDATA[More than 370 projects has been completed]]></Value>
    </successStory2>
    <successStory2Span>
      <Value><![CDATA[370]]></Value>
    </successStory2Span>
    <successStory3>
      <Value><![CDATA[More than 125 branches has been established in Europe and America]]></Value>
    </successStory3>
    <successStory3Span>
      <Value><![CDATA[689]]></Value>
    </successStory3Span>
    <successSubTitle>
      <Value><![CDATA[4.000+ clients]]></Value>
    </successSubTitle>
    <successTitle>
      <Value><![CDATA[We are trusted by more than
]]></Value>
    </successTitle>
    <successTitle2>
      <Value><![CDATA[Success story]]></Value>
    </successTitle2>
    <urlCredit>
      <Value><![CDATA[[
  {
    "name": "Themesflat",
    "target": "_blank",
    "udi": null,
    "url": "Themesflat",
    "queryString": null
  }
]]]></Value>
    </urlCredit>
  </Properties>
</Content>