<?xml version="1.0" encoding="utf-8"?>
<Content Key="b6947846-c030-4e66-9046-f13c6c36f349" Alias="Kevin Gardner" Level="3">
  <Info>
    <Parent Key="3004c18f-8607-4ad0-ab06-3b727eda80a2">About</Parent>
    <Path>/Home/About/KevinGardner</Path>
    <Trashed>false</Trashed>
    <ContentType>expertDetails</ContentType>
    <CreateDate>2024-09-24T15:05:57</CreateDate>
    <NodeName Default="Kevin Gardner" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <expertImage>
      <Value><![CDATA[/media/nnpgfgly/kevin-gardner1.svg]]></Value>
    </expertImage>
    <expertJobTitle>
      <Value><![CDATA[Banking Advisor at Swedbank]]></Value>
    </expertJobTitle>
    <expertName>
      <Value><![CDATA[Kevin Gardner]]></Value>
    </expertName>
  </Properties>
</Content>