<?xml version="1.0" encoding="utf-8"?>
<Content Key="85096f91-6766-4321-8b58-7c8a02c22b3c" Alias="Risk Management" Level="3">
  <Info>
    <Parent Key="16adf126-0845-483f-990a-2f9c3ce42b49">Services</Parent>
    <Path>/Home/Services/RiskManagement</Path>
    <Trashed>false</Trashed>
    <ContentType>detailsPage</ContentType>
    <CreateDate>2024-09-05T17:15:36</CreateDate>
    <NodeName Default="Risk Management" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="60953f88-9786-4af1-8c49-0234489f494e">individualDetailsPage</Template>
  </Info>
  <Properties>
    <aboutParagraph>
      <Value><![CDATA[]]></Value>
    </aboutParagraph>
    <aboutSmallTitle>
      <Value><![CDATA[]]></Value>
    </aboutSmallTitle>
    <aboutTitle>
      <Value><![CDATA[]]></Value>
    </aboutTitle>
    <aboutUsBoxImage>
      <Value><![CDATA[/media/5aqjsgku/aboutus.svg]]></Value>
    </aboutUsBoxImage>
    <brandsList>
      <Value><![CDATA[]]></Value>
    </brandsList>
    <ceoNameParagraph>
      <Value><![CDATA[]]></Value>
    </ceoNameParagraph>
    <ceoQuoteParagraph>
      <Value><![CDATA[]]></Value>
    </ceoQuoteParagraph>
    <ceoSignatureImage>
      <Value><![CDATA[]]></Value>
    </ceoSignatureImage>
    <companyAddress>
      <Value><![CDATA[]]></Value>
    </companyAddress>
    <companyEmailAddress>
      <Value><![CDATA[]]></Value>
    </companyEmailAddress>
    <companyLogo>
      <Value><![CDATA[]]></Value>
    </companyLogo>
    <companyPhoneNumber>
      <Value><![CDATA[]]></Value>
    </companyPhoneNumber>
    <contactButton>
      <Value><![CDATA[]]></Value>
    </contactButton>
    <detailedH1>
      <Value><![CDATA[key point]]></Value>
    </detailedH1>
    <detailedH2>
      <Value><![CDATA[A financial plan is based on a personal relationship]]></Value>
    </detailedH2>
    <detailedH3>
      <Value><![CDATA[We’ll help you achieve financial confidence]]></Value>
    </detailedH3>
    <detailedKeyPoints>
      <Value><![CDATA[Financial planning is the process of helping clients meet their financial needs today and reach their dreams and goals tomorrow.
Pellentesque fringilla augue quis dolor dapibus semper eget non nibh. Ut lobortis, nulla sed euismod posuere, quam magna scelerisque lectus, auctor iaculis quam ligula nec augue
In hac habitasse platea dictumst. Aliquam felis ante, tincidunt sed magna auctor, aliquet dapibus turpis.]]></Value>
    </detailedKeyPoints>
    <detailedKeyPoints2>
      <Value><![CDATA[Listen closely to you and learn what you value
Analyze your current financial situation
Understand your feelings about managing money and investments]]></Value>
    </detailedKeyPoints2>
    <detailedKeyPoints3>
      <Value><![CDATA[Cover your essentials. Essentials are the monthly expenses that keep your life running.
Ensure your lifestyle. Lifestyle is about the things that you want to do, and how you want to live, today and in the future.
Prepare for the unexpected. The unexpected are events that could derail your financial plans.
Leave a legacy. Legacy is about the impact you’ll make on the people, charities and causes that are important to you.]]></Value>
    </detailedKeyPoints3>
    <detailedParagraph>
      <Value><![CDATA[No matter where you find yourself today or see yourself in the future, a financial planning relationship with an Ameriprise financial advisor can help you find your financial balance and bring your dreams and goals more within reach.

Our Confident Retirement approach to financial planning begins with a one-on-one conversation. At its core is a personal relationship with an advisor dedicated to helping you reach the future you imagine, on your own terms, in a way that is convenient for you.
The financial planning process all starts with learning about you. Your advisor will take the time to:]]></Value>
    </detailedParagraph>
    <detailedParagraph2>
      <Value><![CDATA[Then your advisor will offer personalized advice and guidance to help you reach your financial goals. Ameriprise advisors have access to a broad array of solutions to help you plan for your confident future.

And once you have a plan in place, you may feel more confident knowing that your advisor will stay with you over time, helping you track your progress toward your goals and making adjustments along the way when your life or dreams change.]]></Value>
    </detailedParagraph2>
    <detailedParagraph3>
      <Value><![CDATA[Working with a financial advisor may help you come away feeling more confident knowing that you have the support you need to help:]]></Value>
    </detailedParagraph3>
    <detailedPicture>
      <Value><![CDATA[/media/qatlhnys/detailedpicture1.svg]]></Value>
    </detailedPicture>
    <detailMainImage>
      <Value><![CDATA[/media/yhvdpsml/image-21-min-1.svg]]></Value>
    </detailMainImage>
    <detailMainTitle>
      <Value><![CDATA[Risk Management]]></Value>
    </detailMainTitle>
    <detailPreviewParagraph>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </detailPreviewParagraph>
    <footerText>
      <Value><![CDATA[]]></Value>
    </footerText>
    <heroImage>
      <Value><![CDATA[]]></Value>
    </heroImage>
    <heroParagraph>
      <Value><![CDATA[]]></Value>
    </heroParagraph>
    <heroSpan>
      <Value><![CDATA[]]></Value>
    </heroSpan>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <heroTitle2>
      <Value><![CDATA[]]></Value>
    </heroTitle2>
    <navLinks>
      <Value><![CDATA[]]></Value>
    </navLinks>
    <pageDescription>
      <Value><![CDATA[]]></Value>
    </pageDescription>
    <pageKeywords>
      <Value><![CDATA[]]></Value>
    </pageKeywords>
    <pageTitle>
      <Value><![CDATA[Risk Management]]></Value>
    </pageTitle>
    <projectsSectionTitle>
      <Value><![CDATA[]]></Value>
    </projectsSectionTitle>
    <projectsSmallTitle>
      <Value><![CDATA[]]></Value>
    </projectsSmallTitle>
    <search>
      <Value><![CDATA[]]></Value>
    </search>
    <searchIcon>
      <Value><![CDATA[]]></Value>
    </searchIcon>
    <servicesSectionTitle>
      <Value><![CDATA[]]></Value>
    </servicesSectionTitle>
    <servicesSmallTitle>
      <Value><![CDATA[]]></Value>
    </servicesSmallTitle>
    <socialMediaList>
      <Value><![CDATA[]]></Value>
    </socialMediaList>
    <socialUrls>
      <Value><![CDATA[]]></Value>
    </socialUrls>
    <successBg>
      <Value><![CDATA[]]></Value>
    </successBg>
    <successBg2>
      <Value><![CDATA[]]></Value>
    </successBg2>
    <successButton>
      <Value><![CDATA[]]></Value>
    </successButton>
    <successImage>
      <Value><![CDATA[]]></Value>
    </successImage>
    <successImage2>
      <Value><![CDATA[]]></Value>
    </successImage2>
    <successParagraph>
      <Value><![CDATA[]]></Value>
    </successParagraph>
    <successSectionTitle>
      <Value><![CDATA[]]></Value>
    </successSectionTitle>
    <successSmallTitle>
      <Value><![CDATA[]]></Value>
    </successSmallTitle>
    <successStory1>
      <Value><![CDATA[]]></Value>
    </successStory1>
    <successStory1Span>
      <Value><![CDATA[]]></Value>
    </successStory1Span>
    <successStory2>
      <Value><![CDATA[]]></Value>
    </successStory2>
    <successStory2Span>
      <Value><![CDATA[]]></Value>
    </successStory2Span>
    <successStory3>
      <Value><![CDATA[]]></Value>
    </successStory3>
    <successStory3Span>
      <Value><![CDATA[]]></Value>
    </successStory3Span>
    <successSubTitle>
      <Value><![CDATA[]]></Value>
    </successSubTitle>
    <successTitle>
      <Value><![CDATA[]]></Value>
    </successTitle>
    <successTitle2>
      <Value><![CDATA[]]></Value>
    </successTitle2>
    <urlCredit>
      <Value><![CDATA[]]></Value>
    </urlCredit>
  </Properties>
</Content>