@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "mainLayout.cshtml";
}

<div class="expert">
	<img ="" />
	<h2> </h2>
	<p> </p>
</div>