@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "mainLayout.cshtml";


	var selection = Umbraco.Content(Guid.Parse("16adf126-0845-483f-990a-2f9c3ce42b49"))
	.Children()
	.Where(x => x.IsVisible())
	.OrderBy(x => x.Name);
}
<div class="servicesOverview2">
	<h1>
		@Model.Value("servicesTitle", fallback: Fallback.ToAncestors)
	</h1>
	@await Html.PartialAsync("static/ourServices")

	@await Html.PartialAsync("static/paginationdemo")
</div>
@await Html.PartialAsync("static/nextProjectSmilingGuy")




