<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1af97a1e-e766-42ab-ab98-5dc6310ef5b3" Alias="aboutPage" Level="1">
  <Info>
    <Name>About page</Name>
    <Icon>icon-notepad</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="5610fdb8-e5b8-415e-b35f-dccd1d32502a">homePage</Composition>
    </Compositions>
    <DefaultTemplate>homePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c2e0d878-c764-40f7-98e3-5793c604c804">aboutPage</Template>
      <Template Key="2540ed22-0f90-4208-ba2e-e6751007fd10">homePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="5610fdb8-e5b8-415e-b35f-dccd1d32502a" SortOrder="0">homePage</ContentType>
    <ContentType Key="d6b79863-9b50-4d6a-8400-7d0f697263a4" SortOrder="1">expertDetails</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>eec6abe9-4629-47f8-9475-f2b25f7c5e7b</Key>
      <Name>aboutPageCeoImage</Name>
      <Alias>aboutPageCeoImage</Alias>
      <Definition>215cb418-2153-4429-9aef-8c0f0041191b</Definition>
      <Type>Umbraco.UploadField</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="aboutPage/aboutPageCeo">About page Ceo</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e5ef3158-5e6c-44a5-9a7e-35c1d523dbbe</Key>
      <Name>aboutPageCeoParagraph</Name>
      <Alias>aboutPageCeoParagraph</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="aboutPage/aboutPageCeo">About page Ceo</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6c846b65-72b6-4a2d-bbc5-b229480dabc4</Key>
      <Name>aboutPageCeoText</Name>
      <Alias>aboutPageCeoText</Alias>
      <Definition>6169b05d-c5e9-4354-bc1f-10303b29bf7e</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="aboutPage/aboutPageCeo">About page Ceo</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6bffed68-6d04-46eb-8531-8a6442eb8f56</Key>
      <Name>expertsSmallTitle</Name>
      <Alias>expertsSmallTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="aboutPage/experts">experts</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d4b7f34b-d197-4845-9ce1-5e82ab742784</Key>
      <Name>expertsTitle</Name>
      <Alias>expertsTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="aboutPage/experts">experts</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>995eebe5-8756-4853-8189-3e86198f5199</Key>
      <Name>reviewsImage</Name>
      <Alias>reviewsImage</Alias>
      <Definition>215cb418-2153-4429-9aef-8c0f0041191b</Definition>
      <Type>Umbraco.UploadField</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="aboutPage/reviews">reviews</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3b20dffe-6c2e-4437-8274-fdab9345b985</Key>
      <Name>reviewsText</Name>
      <Alias>reviewsText</Alias>
      <Definition>6169b05d-c5e9-4354-bc1f-10303b29bf7e</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="aboutPage/reviews">reviews</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>1377153d-4046-419b-8628-01d22e7c51bf</Key>
      <Caption>About page</Caption>
      <Alias>aboutPage</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>2fb3bdda-164a-4b24-9f93-a0cb5eae11f5</Key>
      <Caption>experts</Caption>
      <Alias>aboutPage/experts</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>8cc6c3ef-364b-4787-a5fa-14644e064737</Key>
      <Caption>About page Ceo</Caption>
      <Alias>aboutPage/aboutPageCeo</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>e90b4e10-0662-4595-bf45-f3d17e0d5ee9</Key>
      <Caption>reviews</Caption>
      <Alias>aboutPage/reviews</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>