<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="779bb8fd-1e6c-4747-90a5-841357352195" Alias="projectDetailsPage" Level="1">
  <Info>
    <Name>Project Details</Name>
    <Icon>icon-document color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>page for the individual project details</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="5610fdb8-e5b8-415e-b35f-dccd1d32502a">homePage</Composition>
    </Compositions>
    <DefaultTemplate>individualDetailsPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="60953f88-9786-4af1-8c49-0234489f494e">individualDetailsPage</Template>
      <Template Key="b04964e8-c176-4adb-a949-276fe64ff5ac">projectDetailPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>acf89486-2b72-4f6a-91a4-b8280204cf60</Key>
      <Name>detailedTags</Name>
      <Alias>detailedTags</Alias>
      <Definition>b6b73142-b9c1-4bf8-a16d-e1c23320b549</Definition>
      <Type>Umbraco.Tags</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="projectDetailsPage/detailed">Detailed</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>25866c4f-c810-4bbd-8671-4624d016a96b</Key>
      <Name>firstPart</Name>
      <Alias>firstPart</Alias>
      <Definition>6169b05d-c5e9-4354-bc1f-10303b29bf7e</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="projectDetailsPage/detailed">Detailed</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cbc5946f-b5f4-4962-9915-46fe3403cf31</Key>
      <Name>fourthPart</Name>
      <Alias>fourthPart</Alias>
      <Definition>6169b05d-c5e9-4354-bc1f-10303b29bf7e</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="projectDetailsPage/detailed">Detailed</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1b472820-4af5-4121-aa57-a4c24732b252</Key>
      <Name>projectDate</Name>
      <Alias>projectDate</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="projectDetailsPage">Project Details Page</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ffaf9fe5-0537-4ce7-8ad7-29574ff039ca</Key>
      <Name>ProjectMainImage</Name>
      <Alias>projectMainImage</Alias>
      <Definition>215cb418-2153-4429-9aef-8c0f0041191b</Definition>
      <Type>Umbraco.UploadField</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="projectDetailsPage">Project Details Page</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8085651a-b64e-44c1-8843-8df0c6d6e5c3</Key>
      <Name>ProjectMainTitle</Name>
      <Alias>projectMainTitle</Alias>
      <Definition>b53e60c8-46aa-460e-a5ba-d7262c1e57d6</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="projectDetailsPage">Project Details Page</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>dad15236-5e5d-4ea8-a21e-7c32990db7f5</Key>
      <Name>ProjectPreviewParagraph</Name>
      <Alias>projectPreviewParagraph</Alias>
      <Definition>b53e60c8-46aa-460e-a5ba-d7262c1e57d6</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="projectDetailsPage">Project Details Page</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8e325654-f978-4bb5-b0ec-2cd3895c522b</Key>
      <Name>secondPart</Name>
      <Alias>secondPart</Alias>
      <Definition>6169b05d-c5e9-4354-bc1f-10303b29bf7e</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="projectDetailsPage/detailed">Detailed</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c852c220-ebd5-4247-a58c-460eea5a9c0a</Key>
      <Name>secondPartImage</Name>
      <Alias>secondPartImage</Alias>
      <Definition>215cb418-2153-4429-9aef-8c0f0041191b</Definition>
      <Type>Umbraco.UploadField</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="projectDetailsPage/detailed">Detailed</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>55a19d32-8b5d-4e84-8a24-64ecd7ef05a0</Key>
      <Name>thirdPart</Name>
      <Alias>thirdPart</Alias>
      <Definition>6169b05d-c5e9-4354-bc1f-10303b29bf7e</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="projectDetailsPage/detailed">Detailed</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>606df7ea-7207-4550-8f78-f93860501c32</Key>
      <Name>ThirdPartImage</Name>
      <Alias>thirdPartImage</Alias>
      <Definition>215cb418-2153-4429-9aef-8c0f0041191b</Definition>
      <Type>Umbraco.UploadField</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="projectDetailsPage/detailed">Detailed</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>1dd19c5f-d1d4-4f7c-b04f-2d18162850bf</Key>
      <Caption>Project Details Page</Caption>
      <Alias>projectDetailsPage</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>36b27be5-4ecc-4661-b2b4-886b50aba9c1</Key>
      <Caption>Detailed</Caption>
      <Alias>projectDetailsPage/detailed</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>