<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="07bad36d-da7a-46f9-a50e-9bfd371e1799" Alias="projects" Level="1">
  <Info>
    <Name>Projects Page</Name>
    <Icon>icon-notepad color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>c0808dd3-8133-4e4b-8ce8-e2bea84a96a4</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="5610fdb8-e5b8-415e-b35f-dccd1d32502a">homePage</Composition>
    </Compositions>
    <DefaultTemplate>projectsPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a416960d-646c-48ab-bf86-1eec734cb02a">projectsPage</Template>
      <Template Key="3ceb3c64-de6b-46ce-b497-9528c454e043">servicesPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="779bb8fd-1e6c-4747-90a5-841357352195" SortOrder="0">projectDetailsPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>8f6be846-bca0-4a43-acbe-20e0bcf9ee8b</Key>
      <Name>firstPart</Name>
      <Alias>firstPart</Alias>
      <Definition>6169b05d-c5e9-4354-bc1f-10303b29bf7e</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="projectsDetailsPlaceholder">Projects Details Placeholder</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8c3ab58c-4fd2-4b9c-84b0-6b455bd75fb0</Key>
      <Name>fourthPart</Name>
      <Alias>fourthPart</Alias>
      <Definition>6169b05d-c5e9-4354-bc1f-10303b29bf7e</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="projectsDetailsPlaceholder">Projects Details Placeholder</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>85ef8cdc-dc38-4b1e-a087-68a165d3b498</Key>
      <Name>projectDate</Name>
      <Alias>projectDate</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>8</SortOrder>
      <Tab Alias="projectsDetailsPlaceholder">Projects Details Placeholder</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>49c2cffe-e0d6-4d78-8f3a-1ce5694bc12e</Key>
      <Name>projectDateIcon</Name>
      <Alias>projectDateIcon</Alias>
      <Definition>215cb418-2153-4429-9aef-8c0f0041191b</Definition>
      <Type>Umbraco.UploadField</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>9</SortOrder>
      <Tab Alias="projectsDetailsPlaceholder">Projects Details Placeholder</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>487c3163-f3bb-4857-902a-33539147e429</Key>
      <Name>projectMainImage</Name>
      <Alias>projectMainImage</Alias>
      <Definition>215cb418-2153-4429-9aef-8c0f0041191b</Definition>
      <Type>Umbraco.UploadField</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="projectsDetailsPlaceholder">Projects Details Placeholder</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3dfa1aa4-6b8b-48aa-8d72-0ac594b783cd</Key>
      <Name>ProjectMainTitle</Name>
      <Alias>projectMainTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="projectsDetailsPlaceholder">Projects Details Placeholder</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f01a3c5d-c192-4e94-a854-5888a2c8a0cc</Key>
      <Name>ProjectsCrumbUrl</Name>
      <Alias>projectsCrumbUrl</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="projectsPage">Projects Page</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>29eb418b-ff85-4278-8c92-16d192adae44</Key>
      <Name>ProjectsTitle</Name>
      <Alias>projectsTitle</Alias>
      <Definition>b53e60c8-46aa-460e-a5ba-d7262c1e57d6</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="projectsPage/weProvideTheSolutionsToGrowYourBusinessFaster">We Provide The Solutions To Grow Your Business Faster</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c7a1c3a0-97d8-4a3a-96c9-bc26dc7f2e7f</Key>
      <Name>ProjectsTopTitle</Name>
      <Alias>projectsTopTitle</Alias>
      <Definition>b53e60c8-46aa-460e-a5ba-d7262c1e57d6</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="projectsPage">Projects Page</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6578047f-80cb-4919-a3eb-03a1d5bdd1ae</Key>
      <Name>secondPart</Name>
      <Alias>secondPart</Alias>
      <Definition>6169b05d-c5e9-4354-bc1f-10303b29bf7e</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="projectsDetailsPlaceholder">Projects Details Placeholder</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>aee67e5e-5aca-4031-b093-19022ef96b97</Key>
      <Name>secondPartImage</Name>
      <Alias>secondPartImage</Alias>
      <Definition>215cb418-2153-4429-9aef-8c0f0041191b</Definition>
      <Type>Umbraco.UploadField</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="projectsDetailsPlaceholder">Projects Details Placeholder</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fb2587fa-3c49-4c68-87eb-2f3770367e71</Key>
      <Name>thirdPart</Name>
      <Alias>thirdPart</Alias>
      <Definition>6169b05d-c5e9-4354-bc1f-10303b29bf7e</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="projectsDetailsPlaceholder">Projects Details Placeholder</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1170c69e-9826-4d38-ab91-a33a037a6a05</Key>
      <Name>thirdPartImage</Name>
      <Alias>thirdPartImage</Alias>
      <Definition>215cb418-2153-4429-9aef-8c0f0041191b</Definition>
      <Type>Umbraco.UploadField</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="projectsDetailsPlaceholder">Projects Details Placeholder</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>1261122a-eeca-4ef0-9602-72ebd6069020</Key>
      <Caption>Projects Details Placeholder</Caption>
      <Alias>projectsDetailsPlaceholder</Alias>
      <Type>Tab</Type>
      <SortOrder>5</SortOrder>
    </Tab>
    <Tab>
      <Key>28331236-f2d4-4c49-8035-373fede30778</Key>
      <Caption>We Provide The Solutions To Grow Your Business Faster</Caption>
      <Alias>projectsPage/weProvideTheSolutionsToGrowYourBusinessFaster</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>8d41c74c-a88e-4125-8f10-a196dbbb151f</Key>
      <Caption>Projects Page</Caption>
      <Alias>projectsPage</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>