<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c6a075a4-c233-4010-8fd4-38435846e5f0" Alias="servicesPage" Level="1">
  <Info>
    <Name>Services Page</Name>
    <Icon>icon-notepad color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>c0808dd3-8133-4e4b-8ce8-e2bea84a96a4</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="5610fdb8-e5b8-415e-b35f-dccd1d32502a">homePage</Composition>
    </Compositions>
    <DefaultTemplate>servicesPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="3ceb3c64-de6b-46ce-b497-9528c454e043">servicesPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="868f7d9a-35b7-4766-b169-4218f885ce33" SortOrder="0">detailsPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>2fc37256-3e0c-4837-94d2-c4013d622a72</Key>
      <Name>breadCrumbUrl</Name>
      <Alias>breadCrumbUrl</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="servicesPage">Services Page</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>381ea3b0-5487-497e-a7d7-3cb0c01ad38d</Key>
      <Name>servicesTitle</Name>
      <Alias>servicesTitle</Alias>
      <Definition>b53e60c8-46aa-460e-a5ba-d7262c1e57d6</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="servicesPage/weProvideTheSolutionsToGrowYourBusinessFaster">We Provide The Solutions To Grow Your Business Faster</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6da1561b-e6bc-4f2a-a5c1-8acb0e22cc0f</Key>
      <Name>serviceTopTitle</Name>
      <Alias>serviceTopTitle</Alias>
      <Definition>b53e60c8-46aa-460e-a5ba-d7262c1e57d6</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="servicesPage">Services Page</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>76463ec2-ce19-4984-987a-25aa56c3c554</Key>
      <Caption>We Provide The Solutions To Grow Your Business Faster</Caption>
      <Alias>servicesPage/weProvideTheSolutionsToGrowYourBusinessFaster</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>ede6263c-5671-4a7c-9f24-343d51344814</Key>
      <Caption>Services Page</Caption>
      <Alias>servicesPage</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>