<?xml version="1.0" encoding="utf-8"?>
<Media Key="a93785a8-3eb2-4997-b1ca-66b1655d9103" Alias="01.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-22T13:52:17</CreateDate>
    <NodeName Default="01.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/li2jks3j/01.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>