<?xml version="1.0" encoding="utf-8"?>
<Media Key="b0967607-4e51-42bb-b115-5de3ee3517ec" Alias="02.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-22T14:20:25</CreateDate>
    <NodeName Default="02.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4xfdiusk/02.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>