<?xml version="1.0" encoding="utf-8"?>
<Media Key="69fb6ca1-64b6-4c73-83ec-2d4afbcf8714" Alias="03.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-22T14:20:25</CreateDate>
    <NodeName Default="03.svg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kpiftc3n/03.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>