<?xml version="1.0" encoding="utf-8"?>
<Media Key="6abd0968-b0b6-46e7-a36e-41eba4343bb3" Alias="04.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-22T14:20:25</CreateDate>
    <NodeName Default="04.svg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tk0b5cfn/04.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>