<?xml version="1.0" encoding="utf-8"?>
<Media Key="e1767d0b-42f6-480f-bd63-2c9d53e52699" Alias="05.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-22T14:20:25</CreateDate>
    <NodeName Default="05.svg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5hania5n/05.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>