<?xml version="1.0" encoding="utf-8"?>
<Media Key="ccd0619b-75de-45f2-b288-204d69d9aa10" Alias="06.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-22T14:20:25</CreateDate>
    <NodeName Default="06.svg" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nhohelwf/06.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>