<?xml version="1.0" encoding="utf-8"?>
<Media Key="c359b685-d8f6-4804-9bb7-cd26f473d492" Alias="aaron.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/aaronsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-24T14:36:08</CreateDate>
    <NodeName Default="aaron.svg" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/o2fpwipn/aaron.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>