<?xml version="1.0" encoding="utf-8"?>
<Media Key="4f1b3db0-504e-4325-9604-e4e47cb908f8" Alias="aboutUsImage" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/aboutUsImage</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-27T20:50:25</CreateDate>
    <NodeName Default="aboutUsImage" />
    <SortOrder>32</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ikaltlkv/aboutus.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>