<?xml version="1.0" encoding="utf-8"?>
<Media Key="d6ed8a8e-791b-4478-b74e-b3c4ec76b360" Alias="aj.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ajsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-24T14:36:08</CreateDate>
    <NodeName Default="aj.svg" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pq1f4naa/aj.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>