<?xml version="1.0" encoding="utf-8"?>
<Media Key="02a70622-1a2c-47eb-891f-8acb3bedd951" Alias="bgOddSquare" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/bgOddSquare</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-14T19:27:06</CreateDate>
    <NodeName Default="bgOddSquare" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0c3blybx/bgoddsquare.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>