<?xml version="1.0" encoding="utf-8"?>
<Media Key="7cf31004-a8fb-49b8-91ff-c8c68716fecd" Alias="brandon.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/brandonsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-24T14:36:08</CreateDate>
    <NodeName Default="brandon.svg" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/40wfdhxa/brandon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>