<?xml version="1.0" encoding="utf-8"?>
<Media Key="2ce54bc9-3294-42c5-b6ec-879bd57edc9f" Alias="Dot" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Dot</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-14T19:26:39</CreateDate>
    <NodeName Default="Dot" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hp1eptup/dot.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>