<?xml version="1.0" encoding="utf-8"?>
<Media Key="26001193-5105-4385-98f1-c3e986a21f58" Alias="emailIconBg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/emailIconBg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-26T11:05:54</CreateDate>
    <NodeName Default="emailIconBg" />
    <SortOrder>30</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mgwkfra4/emailbig.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>