<?xml version="1.0" encoding="utf-8"?>
<Media Key="55daff44-4a6b-405c-93a2-9ec94c7dbc95" Alias="guy" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/guy</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-14T19:26:49</CreateDate>
    <NodeName Default="guy" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wzbhrn1q/guy.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>