<?xml version="1.0" encoding="utf-8"?>
<Media Key="8f20d2be-685e-4a02-b745-dfb57babacd9" Alias="hero" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/hero</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-04T18:50:48</CreateDate>
    <NodeName Default="hero" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jrxje1kf/sl-home2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>