<?xml version="1.0" encoding="utf-8"?>
<Media Key="5ebca30e-9598-4eb8-a34e-a7dbfc4f723f" Alias="iconMap" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/iconMap</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T21:15:56</CreateDate>
    <NodeName Default="iconMap" />
    <SortOrder>27</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5qpb3ped/iconaddress.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>