<?xml version="1.0" encoding="utf-8"?>
<Media Key="b8c398d0-d61a-4d2a-be77-fe31223d6ef3" Alias="iconPhone" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/iconPhone</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T21:16:30</CreateDate>
    <NodeName Default="iconPhone" />
    <SortOrder>28</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/eishcwqb/iconphone.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>