<?xml version="1.0" encoding="utf-8"?>
<Media Key="7ab1ff83-4804-4dab-9a3e-36f5525eef70" Alias="iconEmail" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/iconEmail</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T21:16:52</CreateDate>
    <NodeName Default="iconEmail" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ofbbhga5/iconemail.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>