<?xml version="1.0" encoding="utf-8"?>
<Media Key="bdb9d60b-bfdb-4d38-8394-11d95a39ebbd" Alias="icon_star 2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/icon_star2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-24T13:54:59</CreateDate>
    <NodeName Default="icon_star 2.svg" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5fvbwx4a/icon_star-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>