<?xml version="1.0" encoding="utf-8"?>
<Media Key="85498c65-6af9-41c4-a397-a878a38208d5" Alias="iconEmailGreen" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/iconEmailGreen</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-26T11:38:11</CreateDate>
    <NodeName Default="iconEmailGreen" />
    <SortOrder>31</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/s2ypwz5c/iconemailsmall.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>