<?xml version="1.0" encoding="utf-8"?>
<Media Key="ce31f2a8-e59f-48c9-b98a-ef1c909b37d0" Alias="image-13-min 1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/image13Min1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-04T18:57:46</CreateDate>
    <NodeName Default="image-13-min 1.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ljhjglee/image-13-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>