<?xml version="1.0" encoding="utf-8"?>
<Media Key="2e1743d6-faf9-440c-8881-09cb79579031" Alias="img_aboutceo.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/img_aboutceosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-24T13:26:04</CreateDate>
    <NodeName Default="img_aboutceo.svg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/et5llthc/img_aboutceo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>