<?xml version="1.0" encoding="utf-8"?>
<Media Key="d5ac4c37-d784-4d34-9951-5d4a2521f0c2" Alias="kerr.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/kerrsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-24T14:36:08</CreateDate>
    <NodeName Default="kerr.svg" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/yxyb2n25/kerr.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>