<?xml version="1.0" encoding="utf-8"?>
<Media Key="018104a6-c051-4bfc-bba0-7100e6b9a657" Alias="Kevin-Gardner1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/KevinGardner1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-24T14:36:08</CreateDate>
    <NodeName Default="Kevin-Gardner1.svg" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ks2dhy0k/kevin-gardner1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>