<?xml version="1.0" encoding="utf-8"?>
<Media Key="a1196060-9878-419b-bc03-634a58ab5446" Alias="kevin-gardner.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/kevinGardnersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-24T14:36:08</CreateDate>
    <NodeName Default="kevin-gardner.svg" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/slolwq1d/kevin-gardner.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>