<?xml version="1.0" encoding="utf-8"?>
<Media Key="8b13a67d-c5e3-4f5f-b99c-b959bcf71938" Alias="miranda.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/mirandasvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-24T14:36:08</CreateDate>
    <NodeName Default="miranda.svg" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/r2nlc0py/miranda.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>