<?xml version="1.0" encoding="utf-8"?>
<Media Key="bd0f5e6b-0f88-431c-8c38-c0589cc3c23a" Alias="OnlineSignatures.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OnlineSignaturessvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-04T22:42:54</CreateDate>
    <NodeName Default="OnlineSignatures.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/thrl0x2t/onlinesignatures.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>