<?xml version="1.0" encoding="utf-8"?>
<Media Key="9452e01e-a39c-4efa-9811-09154722e089" Alias="SocialsLinkedin.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SocialsLinkedinpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-25T16:11:56</CreateDate>
    <NodeName Default="SocialsLinkedin.png" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/sevbiixv/socialslinkedin.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>