<?xml version="1.0" encoding="utf-8"?>
<Media Key="3ae67d87-2169-4674-8cd2-eae901539dfb" Alias="SocialsFacebook.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SocialsFacebooksvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T16:40:34</CreateDate>
    <NodeName Default="SocialsFacebook.svg" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/oxaejwds/socialsfacebook.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>