<?xml version="1.0" encoding="utf-8"?>
<Media Key="d7fe05f0-3f96-4108-a141-fd7a9166ac4b" Alias="SocialsTwitter.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SocialsTwittersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T16:40:34</CreateDate>
    <NodeName Default="SocialsTwitter.svg" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ak2fynmn/socialstwitter.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>