<?xml version="1.0" encoding="utf-8"?>
<Media Key="981c69bb-32f1-4697-9a1d-b530696b4d3e" Alias="SocialsLinkedin.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SocialsLinkedinsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T16:40:34</CreateDate>
    <NodeName Default="SocialsLinkedin.svg" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jhkl24xk/socialslinkedin.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>