<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6169b05d-c5e9-4354-bc1f-10303b29bf7e" Alias="Details -  - Rich Text Editor Property Editor UI" Level="1">
  <Info>
    <Name>Details -  - Rich Text Editor Property Editor UI</Name>
    <EditorAlias>Umbraco.RichText</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TinyMCE</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "maxImageSize": 500,
  "mode": "Classic",
  "toolbar": [
    "styles",
    "bold",
    "italic",
    "alignleft",
    "aligncenter",
    "alignright",
    "bullist",
    "numlist",
    "outdent",
    "indent",
    "sourcecode",
    "link",
    "umbmediapicker",
    "umbembeddialog"
  ]
}]]></Config>
</DataType>