<?xml version="1.0" encoding="utf-8"?>
<DataType Key="86817c6c-5242-4778-9416-e44bd4057772" Alias="Home Page -  - Block List Social Media" Level="1">
  <Info>
    <Name>Home Page -  - Block List Social Media</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "db1863c0-c720-4142-be60-53269f10ad00",
      "label": "{platformName} {platformUrl}"
    }
  ]
}]]></Config>
</DataType>