<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b53e60c8-46aa-460e-a5ba-d7262c1e57d6" Alias="Home Page - Page Description - Text Area Property Editor UI" Level="1">
  <Info>
    <Name>Home Page - Page Description - Text Area Property Editor UI</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextArea</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "rows": 10
}]]></Config>
</DataType>