<?xml version="1.0" encoding="utf-8"?>
<DataType Key="21a626c7-c322-4833-af3d-eadefe775196" Alias="Social Media Item - platformName - Text Box Property Editor UI" Level="1">
  <Info>
    <Name>Social Media Item - platformName - Text Box Property Editor UI</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextBox</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "inputType": "text",
  "maxChars": 512
}]]></Config>
</DataType>