<?xml version="1.0" encoding="utf-8"?>
<DataType Key="09b12ea6-c65c-44e8-a61d-edad6bf5c2a8" Alias="SuccessList" Level="1">
  <Info>
    <Name>SuccessList</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 0,
  "min": 0
}]]></Config>
</DataType>